// Must add bootstrap imports before MapTiler ones:

// MapTiler Imports
@import "components/icon.scss";
@import "map.scss";
@import "components/rectangles.scss";
@import "components/navigation.scss";
@import "components/popup.scss";
@import "components/message.scss";
@import "components/topbar.scss";
@import "components/dashboard.scss";
@import "components/product-switcher.scss";
@import "components/pricing-table.scss";
@import "components/double-number-list.scss";
@import "components/video-player.scss";
@import "components/animations.scss";
@import "components/fix.scss";
@import "components/utilities.scss";
