//bootstrap design changes to our framework
.table thead th {
    border-bottom: 1px ;
    font-weight: 600;
}
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    border: solid 2px $value;
    line-height: 15px;
    &:active, &:hover{
      background-color: transparent !important;
      color: darken($value, 5%)!important;
      border:solid 2px darken($value, 5%)!important;
    }
  }
}
mark {
    color: $secondary;
    background-color: $gray-100;
}
.custom-control.custom-switch {
    .custom-control-input:checked:not(:disabled) ~ .custom-control-label::before {
      background-color: $custom-switch-indicator-checked-bg !important;
    }
  }
  .social.circles {

    text-align: center;
    display: inline-block;

    a {
      user-select: none;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      font-family: 'icons';
      font-size: 32px;
      color: #fff;
      background-color: #c2c2ce;
      cursor: pointer;
      text-decoration: none !important;
      margin: 10px;

      &.G {
        color: #fff;
        background-color: #d34836;
      }

      &.F {
        color: #fff;
        background-color: #3B5998;
      }

      &.T, &.twitter {
        color: #fff;
        background-color: #55ACEE;
      }

      &.twitter {
        &:before{
          content: '';
          background: url('/img/icon/twitter.svg');
          background-repeat: no-repeat;
          background-size: 40px 40px;
          width: 40px;
          height: 40px;
          position: absolute;
          margin-left: -20px;
          margin-top: 0px;
        }
      }

      &.P {
        background-color: #C92228;
      }

      &.Y, &.social-youtube{
        font-size: 20px;
      }
      &.Y {
        background-color: #FF0000;
      }

      &.L {
        background-color: #0077B5;
      }

      &.RSS {
        background-color: #f2772e;
        &:before{
          content: '';
          background: url('/img/icon/feed.svg');
          background-repeat: no-repeat;
          background-size: 20px 20px;
          width: 40px;
          height: 40px;
          position: absolute;
          margin-left: -8px;
          margin-top: 8px;
        }
      }

      &.medium {
        background-color: #333359;
        &:before{
          content: '';
          background: url('/img/icon/medium.svg');
          background-repeat: no-repeat;
          background-size: 20px 20px;
          width: 40px;
          height: 40px;
          position: absolute;
          margin-left: -10px;
          margin-top: 9px;
        }
      }

      &.github {
        background-color: transparent;
        color: #000;
        font-size: 45px;
      }

      &:hover {
        text-decoration: none !important;
        opacity: 0.9;
      }
    }

    a:first-child{
      margin-left: 20px;
    }
  }
  // topbar

  @each $topbars, $value in $topbars {
    .topbar.#{$topbars} {
      position: relative;
      height: 75px;
      background: $value;
      width: 100%;
      z-index: 2;
      img {
        height: 100%;
        padding: 10px 10px;
      }
    }
  }
  //skew
  .skewed {
      -webkit-transform: skewY(-$skew);
      transform: skewY(-$skew);
  }
  .unskewed {
      -webkit-transform: skewY($skew);
      transform: skewY($skew);
  }
  //footer
  .footer{
    color: $footer-color;
    background-color: $footer-color-bg;
    font-weight: $footer-fontweight;
    height: $footer-height + $footer-bordertop-size;
    position: relative;
    font-size: $footer-fontsize;
    border-top: $footer-bordertop-size solid $footer-border-color;

    a{
      display: block;
      color: $footer-link-color;
      font-size: $footer-fontsize;
      margin: $footer-link-margin;
      &:hover{
        color: $footer-link-hover-color;
        text-decoration: $footer-link-hover-decoration;
      }
    }

    .container{
      padding: $footer-padding;
    }
  }
// popup
.popup {
  z-index: 111;
  position: fixed;
  width: $popup-width;
  min-height: 100px;
  top: $popup-top;
  left: 50%;
  margin-left: ($popup-width / 2) * -1;
  padding: $popup-padding;
  background: $popup-bg-color;
  transition: all 0.3s ease;
  border-radius: $popup-radius;

  &.closed {
    top: -1000px;
  }
  .popup-title {
    display: block;
    font-weight: bold;
    padding: 0 0 10px;
    font-size: 120%;
  }

  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'icons';
    cursor: pointer;
    color: $body-color;

    &:hover {
      text-decoration: none;
      color: darken($body-color, 20%);
    }
  }

  .popup-content {
    display: block;
  }

  .popup-actions {
    display: block;
    margin-top: 10px;

    div {
      margin-right: 10px;
    }
  }

  ul.options {
    max-height: 400px;
    overflow: auto;

    li {
      cursor: pointer;
      display: block;
      padding: 2px;

      &:nth-child(even) {
        background: #f9f9f9;
      }

      &:hover {
        font-weight: bold;
      }
    }
  }
}
.popup-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $popupbg-bg-color;
  z-index: 101;
  transition: 0.3s all ease;

  &.closed {
    display: none;
  }
}
