// customers-logo-hover
.customer-logo{
  .customer-hover{
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover{
    .customer-hover{
      opacity: 1;
    }
  }
}
// collapse-arrow
.collapse-arrow {
  transform: rotateX(0deg);
  transition: transform 0.25s;
}
a[aria-expanded="true"] {
  .collapse-arrow {
    transform: rotateX(180deg);
    color: $primary;
  }
}
// navbar dropdown
@media (min-width: 768px) {
  .dropdown-menu-navbar-animation {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, 1rem);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }

  0% {
    transform: translate(-50%, 1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translate(-50%, 0px);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translate(-50%, 1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
