.carousel-control-next,
.carousel-control-prev {
  @include media-breakpoint-down(lg){
    width: 20%;
  }
  &:after {
    content: '<';
    font-family: 'icons';
    background-color: $white;
    box-shadow: $box-shadow;
    font-size: 32px;
    line-height: 1;
    border-radius: 50%;
    padding: 10px;
    left: 0;
    @include media-breakpoint-down(lg){
      display: none;
    }
  }
}

.carousel-control-next {
  &:after {
    content: '>';
    right: 0;
  }
}

.carousel-inner {
  @include media-breakpoint-up(lg){
    padding: 0 55px;
  }
}
.carousel-control-prev-icon, .carousel-control-next-icon {

}
