// connect 2025
$connect-banner-height: 50px !default;
$connect-banner-transition: 500ms cubic-bezier(0.46, 0, 0, 1);
$connect-banner-height-sm: 104px;
$connect-banner-bg: '/img/connect-banner-bg.webp' !default;

.connect-banner {
  height: $connect-banner-height;
  top: 0;
  z-index: 1020;
  position: sticky;
  background-image: url($connect-banner-bg);
  background-color: #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: $connect-banner-transition;

  &.collapsed {
    height: 0;
  }
  &.open {
    height: $connect-banner-height;
  }
}

.navbar-sticky-top,
.map-wrap.map-wrap.fullscreen-navbar,
.map-switcher.fullscreen,
.HeaderShape {
  transition: $connect-banner-transition;
}

body.banner-open {
  .HeaderShape {
    margin-top: $connect-banner-height;
  }
  .map-wrap:not(.fullscreen):not(.fullscreen-navbar) {
    max-height: calc(100dvh - 72px - 30px - #{$connect-banner-height});
  }
  .navbar-sticky-top {
    top: $connect-banner-height;
  }
  .map-wrap.fullscreen-navbar {
    height: calc(100dvh - $navbar-brand-height - 1px - $connect-banner-height);
  }
  .map-wrap.fullscreen {
    height: calc(100dvh - $connect-banner-height);
  }
  .map-switcher.fullscreen {
    top: calc(125px + $connect-banner-height);
  }
}

@include media-breakpoint-down(sm) {
  $connect-banner-height: $connect-banner-height-sm !global;

  .connect-banner {
    height: $connect-banner-height;

    &.open {
      height: $connect-banner-height;
    }
  }

  body.banner-open {
    .HeaderShape {
      margin-top: $connect-banner-height;
    }
    .map-wrap:not(.fullscreen):not(.fullscreen-navbar) {
      max-height: calc(100dvh - 72px - 30px - #{$connect-banner-height});
    }
    .navbar-sticky-top {
      top: $connect-banner-height;
    }
    .map-wrap.fullscreen-navbar {
      height: calc(
        100dvh - $navbar-brand-height - 1px - #{$connect-banner-height}
      );
    }
    .map-wrap.fullscreen {
      height: calc(100dvh - #{$connect-banner-height});
    }
    .map-switcher.fullscreen {
      top: calc(125px + #{$connect-banner-height});
    }
  }
}
