.mt-dashboard {
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.mt-container {
  width: calc(100% - #{$mt-aside-width});
  margin-left: $mt-aside-width;
  margin-top: $topbar-height;

  @include media-breakpoint-down(md) {
    width: calc(100% - 90px);
    margin-left: $mt-aside-width-sm;
  }
}

.mt-content {
  margin: 0 15px;
  max-width: 1000px;
}

.mt-aside {
  height: 100%;
  min-height: 100vh;
  width: $mt-aside-width;
  position: fixed;
  overflow: auto;
  z-index: $zindex-sticky;
  padding-top: $topbar-height;

  @include media-breakpoint-down(md) {
    width: $mt-aside-width-sm;
    text-align: center;
  }

  a {
    font-family: "Ubuntu";
    font-size: 15px;
    padding: 14px 0px 14px 20px;
    margin: 3px 15px;
    font-weight: bold;
    color: $secondary;
    display: flex;
    align-items: center;
    border-radius: $border-radius;

    svg {
      margin-right: 20px;
      color: #aeb6c7;
    }

    &.sub{
      padding: 12px 0px 12px 75px;
      color: $dark;
    }

    @include media-breakpoint-down(md) {
      font-size: 10px;
      margin: 0 0 6px 0;
      text-align: center;
      flex-direction: column;

      svg {
        margin: 0;
        width: 30px;
        height: 30px;
      }
      &.sub{padding: 5px 10px;}
      &:not(.sub){
        height: 90px;
        padding: 20px 10px;
      }
    }

    &:hover {
      color: darken($primary,8%)!important;
      svg {
        color: darken($primary,8%)!important;
      }
    }
  }

  .active,
  .active > svg {
    color: $primary !important;
    background-color: $lighter;
  }
}

/* Dashboard content */
.nav-tabs {
  .nav-item a {
    color: $secondary;
    font-weight: 600;
  }
}
.top-size-nav {
  top: $topbar-height;
}

.img-over-title {
  max-width: 300px;
  margin-top: 50px;

  @include media-breakpoint-up(lg) {
    margin-top: -75px;
  }
}
