.mt-dashboard {
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.mt-container {
  width: calc(100% - #{$mt-aside-width});
  margin-left: $mt-aside-width;
  margin-top: $topbar-height;

  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-left: 0;
  }
}

.mt-content {
  margin: 0 15px;
  max-width: 1000px;
}

.mt-aside {
  height: calc(100% - #{$topbar-height});
  min-height: auto;
  width: $mt-aside-width;
  position: fixed;
  overflow: auto;
  z-index: $zindex-fixed;
  top: $topbar-height;
  background: white;
  box-shadow: $box-shadow;
  transition: $transition-collapse;
  transition-property: width, visibility;

  @include media-breakpoint-down(lg) {
    width: 0;
    visibility: hidden;
    &.show{
      width: $mt-aside-width;
      visibility: visible;
    }
  }

  .aside-link {
    font-family: "Ubuntu";
    font-size: 15px;
    padding: 15px 0px 15px 20px;
    margin: 3px 15px;
    font-weight: 500;
    color: $secondary;
    display: flex;
    align-items: center;
    border-radius: $border-radius;

    svg {
      margin-right: 20px;
      color: #aeb6c7;
    }

    &.sub{
      padding: 12px 0px 12px 75px;
      color: $dark;
    }

    &:hover {
      color: darken($primary,8%)!important;
      svg {
        color: darken($primary,8%)!important;
      }
    }
  }

  .active,
  .active > svg {
    color: $primary !important;
    background-color: $lighter;
  }
}

/* Dashboard content */
.nav-tabs {
  .nav-item a {
    color: $secondary;
    font-weight: 600;
  }
}
.top-size-nav {
  top: $topbar-height;
}

.img-over-title {
  max-width: 300px;
  margin-top: 50px;

  @include media-breakpoint-up(lg) {
    margin-top: -75px;
  }
}
