/* 1.1 type of list */

ol.number-dot-list {
  list-style-type: none;
  counter-reset: item;
  @include media-breakpoint-down(sm){
    padding-left: 5px;
  }
}

ol.number-dot-list > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol.number-dot-list > li:before {
  display: table-cell;
  padding-right: 0.6em;
}

li ol.number-dot-list > li {
  margin: 0;
}

li ol.number-dot-list > li:before {
  content: counters(item, ".") ".";
}
