//bootstrap design changes to our framework
mark {
  color: $secondary;
  background-color: $gray-100;
}
b {
  color: $darker;
}
iframe {
  border: none;
}
.table thead th {
  border-bottom: 1px;
  font-weight: 600;
}
.table.small{
  td{
    padding: 0.8rem;
  }
}
.custom-select, .form-control{
  width: unset;
}
:focus {
    outline: none;
}
.nav-item{
  user-select: none;
  cursor: pointer;
}
.btn-lg{
  font-weight: $btn-font-weight;
}
//  btn-stroke

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    border: solid 2px $value;
    line-height: 15px;

    &:active,
    &:hover {
      box-shadow: none!important;
      background-color: transparent !important;
      color: darken($value, 5%)!important;
      border: solid 2px darken($value, 5%)!important;
    }
  }
}
