.social-circles {
  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;

    &:before{
      content: '';
      background-image: none;
      background-color: currentcolor;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: .15s;
    }

    &.twitter {
      color: #40ACEB;
      &:before {
        background-image: url("#{$social-icon}twitter-white.svg");
      }
    }
    &.linkedin {
      color: #0077B7;
      &:before {
        background-image: url("#{$social-icon}linkedin-white.svg");
      }
    }
    &.facebook {
      color: #4267B2;
      &:before {
        background-image: url("#{$social-icon}facebook-white.svg");
      }
    }
    &.rss {
      color: #f2772e;
      &:before {
        background-image: url("#{$social-icon}feed-white.svg");
      }
    }
    &.medium {
      color: #333359;
      &:before {
        background-image: url("#{$social-icon}medium-white.svg");
      }
    }
    &.github {
      color: #000;
      &:before {
        background-image: url("#{$social-icon}github-white.svg");
      }
    }
    &.instagram {
      color: #000;
      &:before {
        background-image: url("#{$social-icon}ig-white.svg");
      }
    }
    &.youtube {
      color: #FF0000;
      &:before {
        background-image: url("#{$social-icon}ytb-white.svg");
      }
    }

    &:not(.colored){
      &:before{
        background-color: $secondary;
      }
      &:hover{
        &:before{
          background-color: currentcolor;
        }
      }
    }
  }
}
