.loupe{
  display: block;
  position: relative;
  &:before {
      content: url(#{$loupe-icon}search-white.svg);
      background: rgba(90, 89, 89, 0.55);
      position: absolute;
      padding: 10px 15px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
  }
  &.white:before{
    content: url(#{$loupe-icon}search.svg);
    background: white;
  }
}
