//map
.map-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* map small */

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-controls a.map-controls-text {
  font-size: 16px;
}

#map-fullscreen-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 12px;
  z-index: 85;
  background: #fff;
  border-radius: 4px;
  opacity: 0.9;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

#map-language {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.map-wrap {
  position: relative !important;
  height: 595px;
  &:not(.fullscreen) {
    .map {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &.fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #f2f3f6;
    z-index: 80;
  }
}

#map-language.fullscreen {
  width: auto;
  height: auto;
  left: 20px;
  @include media-breakpoint-down(md) {
    padding: 7px !important;
    bottom: 10px;
    left: 10px;
    top: unset !important;
  }
}
/* map types switcher */

.map-switcher {
  div {
    width: 100%;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
    color: $gray-900;
    height: 85px;
    &:hover,
    .active {
      color: #000;
    }

    &:last-child {
      height: 85px;
      border-bottom: 1px solid #e4e4e4;
    }

    span {
      position: absolute;
      margin: 30px 30px 30px 115px;
    }
  }
}

.map-switcher.fullscreen {
  bottom: 110px;
  overflow-y: auto;
  position: fixed;
  left: 15px;
  top: 125px;
  z-index: 86;
  width: auto;
  height: auto;
  -webkit-mask-image: linear-gradient(
    0deg,
    transparent,
    #000 10px,
    #000 calc(100% - 10px),
    transparent
  );
  @include media-breakpoint-down(md) {
    bottom: 65px;
    left: 15px;
    top: 125px;
    height: calc(
      100% - ($navbar-brand-height + 110px + 52.8px)
    ); // heght - navbar, customizebutton and language dropdown
  }

  .map-switch {
    width: 85px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: 0;

    img {
      border-radius: 4px;
    }

    span {
      display: none;
    }
  }
  .map-switch-selected {
    border: solid $blue;
  }
}

.map-switch {
  background-size: 85px 85px;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

#map-switch-streets-v2 {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/streets-v2.png');
}

#map-switch-hybrid {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/hybrid.png');
}

#map-switch-basic-v2 {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/basic-v2.png');
}

#map-switch-streets-v2-dark {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/streets-v2-dark.png');
}

#map-switch-streets-v2-light {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/streets-v2-light.png');
}

#map-switch-basic-v2-dark {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/streets-v2-dark.png');
}

#map-switch-basic-v2-light {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/streets-v2-light.png');
}

#map-switch-outdoor {
  background-image: url('https://media.maptiler.com/img/outdoor_v2_28fe72cefb.png');
}

#map-switch-winter {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/winter.png');
}

#map-switch-streets {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/streets.png');
}

#map-switch-satellite {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/satellite.png');
}

#map-switch-topo {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/topo.png');
}

#map-switch-bright {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/bright.png');
}

#map-switch-basic {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/basic.png');
}

#map-switch-positron {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/positron.png');
}

#map-switch-darkmatter {
  background-image: url('https://media.maptiler.com/old/img/cloud/slider/dark-matter.png');
}
#map-switch-dataviz {
  background-image: url('https://media.maptiler.com/img/dataviz_1e8a1fdcb1.png');
}

/* mapcontrols */
.btn-3d {
  position: absolute;
  top: 200px !important;
  right: 10px !important;
  z-index: 1000;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
  span {
    color: $white;
    background: $primary;
    padding: 7px;
    border-radius: $border-radius;
    &.disabled {
      background: $secondary;
    }
  }
}
/* mapbox fix */

.mapboxgl-ctrl {
  margin: 0;
  box-shadow: $box-shadow !important;
}

.mapboxgl-ctrl-zoom-out {
  border-top: 1px solid $light !important;
  border-bottom: 1px solid $light !important;
  .mapboxgl-ctrl-icon {
    display: none !important;
  }
  &::before {
    content: url('#{$map-control-out}remove.svg') !important;
    position: relative !important;
    top: 3px !important;
  }
  &:hover:before {
    content: url('#{$map-control-out}remove-hover.svg') !important;
  }
}

.mapboxgl-ctrl-zoom-in {
  .mapboxgl-ctrl-icon {
    display: none !important;
  }
  &::before {
    content: url('#{$map-control-in}add.svg') !important;
    position: relative !important;
    top: 3px !important;
  }
  &:hover:before {
    content: url('#{$map-control-in}add-hover.svg') !important;
  }
}

.mapboxgl-ctrl-fullscreen {
  &::before {
    content: 'e' !important;
    color: $secondary !important;
    position: relative !important;
    font-size: 20px !important;
    line-height: 1.5 !important;
  }
  &:hover:before {
    color: $link-hover-color !important;
  }
}

.mapboxgl-ctrl-shrink {
  &::before {
    content: 'X' !important;
    color: $secondary !important;
    position: relative !important;
    font-size: 20px !important;
    line-height: 1.5 !important;
  }
  &:hover:before {
    color: $link-hover-color !important;
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
  border-bottom: 1px solid #ddd !important;
  background-image: none !important;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
  background-image: none !important;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow,
.mapboxgl-ctrl-compass > .mapboxgl-ctrl-icon {
  margin: 0 !important;
  background-image: url('#{$map-control-compass}compass.svg') !important;
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: 70% !important;
  display: block !important;

  &:hover {
    background-image: url('#{$map-control-compass}compass-hover.svg') !important;
  }
}
.mapboxgl-ctrl-top-right {
  top: 10px !important;
  right: 10px !important;
}
.fullscreen {
  .mapboxgl-ctrl-top-right {
    top: 80px !important;
    right: 10px !important;
  }
  .mapboxgl-ctrl-top-left {
    top: 80px !important;
    left: 10px !important;
  }
}
.mapboxgl-ctrl-group > button:focus {
  box-shadow: none !important;
}
.mapboxgl-ctrl-group > button + button {
  border-top: none !important;
}
// ol zoom controls need to add 'mt-button' rotate control needs 'mt-button-last' class in js
.fullscreen {
  .mt-button {
    top: 80px;
    right: 10px;
    padding: 0 !important;
  }
}
.fullscreen {
  .mt-button-last {
    top: 140px;
    right: 10px;
    padding: 0 !important;
    background: none !important;
  }
}
.mt-button {
  top: 10px;
  right: 10px;
  padding: 0 !important;
}
.mt-button-last {
  top: 70px;
  right: 10px;
  padding: 0 !important;
  background: none !important;
}
.mt-button-in {
  height: 30px !important;
  width: 30px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: white !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  color: #333359 !important;
  color: transparent !important;
  &:hover {
    background-color: darken(white, 5%) !important;
  }
  &::before {
    content: url('#{$map-control-in}add.svg');
    position: relative;
    top: 3px;
  }
  &:hover:before {
    content: url('#{$map-control-in}add-hover.svg');
  }
}

.mt-button-out {
  height: 30px !important;
  width: 30px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: white !important;
  color: #333359 !important;
  border-top: 1px solid $light !important;
  border-bottom: 1px solid $light !important;
  color: transparent !important;
  &:hover {
    background-color: darken(white, 5%) !important;
  }
  &::before {
    content: url('#{$map-control-out}remove.svg');
    position: relative;
    top: 3px;
  }
  &:hover:before {
    content: url('#{$map-control-out}remove-hover.svg');
  }
}

.mt-button-last-reset {
  height: 30px !important;
  width: 30px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: white !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  position: relative;
  color: transparent !important;

  &:hover {
    background-color: darken(white, 5%) !important;
  }

  .ol-compass {
    background: url('#{$map-control-compass}compass.svg');
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;

    &:hover {
      background: url('#{$map-control-compass}compass-hover.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 70%;
    }
  }
}
