//map

.map-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* map small */

#map,
#map-raster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-raster {
  display: none;
}

.map-type-wrap .switch {
  margin: -8px 5px -5px 10px;
}

.map-controls a.map-controls-text {
  font-size: 16px;
}

#map-fullscreen-btn,
.map-type-wrap {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 12px;
  z-index: 85;
  background: #fff;
  border-radius: 4px;
  opacity: 0.9;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  white-space: nowrap;
}

#map-language {
  position: absolute;
  top: 52px;
  left: 10px;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  border-radius: 4px;
}

#map-fullscreen-btn {
  margin: 0 5px;
  position: absolute;
  left: auto;
  right: 50px;
  cursor: pointer;
  font-size: 14px;

  &:after {
    content: 'e';
    display: inline-block;
    font-family: 'icons';
    margin-left: 5px;
    font-size: 16px;
    position: relative;
    top: -1px;
    vertical-align: sub;
  }

  &:hover {
    text-decoration: none;
  }
}
.map-wrap {

  position: relative !important;
  height: 595px;
  &:not(.fullscreen) {
    .map{
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &.fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #f2f3f6;
    z-index: 80;
  }
}

.map-type-wrap.fullscreen {
  top: 80px;
  left: 20px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: auto;
  height: auto;
  span, label{
    user-select: none;
    cursor: pointer;
  }
  @include media-breakpoint-down(md) {
    font-size: 12px;
    padding: 6px 0 5px;
    top: 127px;
    left: 15px;
  }
}

.map-wrap.fullscreen #map-fullscreen-btn {
  &:before {
    content: 'X';
    display: inline-block;
    font-family: 'icons';
    margin-right: 4px;
    font-size: 18px;
    vertical-align: sub;
  }

  &:after {
    display: none;
  }
}

#map-language.fullscreen {
  width: auto;
  height: auto;
  left: 20px;
  @include media-breakpoint-down(md) {
    padding: 7px !important;
    bottom: 10px;
    left: 10px;
    top: unset !important;
  }
}
/* map types switcher */

.map-switcher {
  div {
    width: 100%;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
    color: $gray-900;
    height: 85px;

    &:hover,
    .active {
      color: #000;
    }

    &:last-child {
      height: 85px;
      border-bottom: 1px solid #e4e4e4;
    }

    span {
      position: absolute;
      margin: 30px 30px 30px 115px;
    }
  }
}

.map-switcher.fullscreen {
  bottom: 110px;
  overflow-y: auto;
  position: fixed;
  left: 15px;
  top: 190px;
  z-index: 86;
  width: auto;
  height: auto;
  -webkit-mask-image: linear-gradient(0deg,transparent,#000 10px,#000 calc(100% - 10px),transparent);
  @include media-breakpoint-down(md){
    bottom: 65px;
    left: 15px;
    top: 155px;
    height: 50%;
  }

  .map-switch {
    width: 85px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border: 0;

    img {
      border-radius: 4px;
    }

    span {
      display: none;
    }
  }
}

.map-switch {
  background-size: 85px 85px;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.map-switch.customize {
  padding: 5px 0 10px;
  font-size: 12px;
  display: block;
  line-height: 1.2;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 85px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  z-index: 100;

  &:hover {
    text-decoration: none;
    background: lighten($primary, 5%);
  }

  &:before {
    content: '9';
    font-family: 'icons';
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    display: block;
  }
  @include media-breakpoint-down(md){
    padding: 8px 0;
    bottom: 45px;
  }
}

span.map-switch-customize-text {
  display: inline !important;
  @include media-breakpoint-down(md){
    display: none !important;
  }
}

#map-switch-streets {
  background-image: url("/img/cloud/slider/streets.png");
}

#map-switch-satellite {
  background-image: url("/img/cloud/slider/satellite.png");
}

#map-switch-topo {
  background-image: url("/img/cloud/slider/topo.png");
}

#map-switch-bright {
  background-image: url("/img/cloud/slider/bright.png");
}

#map-switch-basic {
  background-image: url("/img/cloud/slider/basic.png");
}

#map-switch-positron {
  background-image: url("/img/cloud/slider/positron.png");
}

#map-switch-darkmatter {
  background-image: url("/img/cloud/slider/dark-matter.png");
}

/* mapcontrols */
.btn-3d{
    position: absolute;
    top: 200px !important;
    right: 10px !important;
    z-index: 1000;
    font-size: 12px;
    a{
      color: $white;
      background: $primary;
      padding: 7px;
      border-radius: $border-radius;
    }
}
/* mapbox fix */

.mapboxgl-ctrl {
  margin: 0 !important;
  box-shadow: none !important;
}

.mapboxgl-ctrl-zoom-out{
  border-top: 1px solid $light !important;
  border-bottom: 1px solid $light !important;
  &::before {
    content: '-';
    font-family: 'icons';
    color: #333359;
    position: relative;
    top: -1px;
    font-size: 24px;
    line-height: 1.3;
  }
  &:hover:before{
    color: $link-hover-color;
  }
}

.mapboxgl-ctrl-zoom-in {
  &::before {
    content: '+';
    font-family: 'icons';
    color: #333359;
    position: relative;
    top: -1px;
    font-size: 24px;
    line-height: 1.3;
  }
  &:hover:before{
    color: $link-hover-color;
  }
}

.mapboxgl-ctrl-fullscreen {
  &::before {
    content: "e";
    color: $secondary;
    position: relative;
    top: -1px;
    font-size: 26px;
    line-height: 1.2;
  }
  &:hover:before{
    color: $link-hover-color;
  }
}

.mapboxgl-ctrl-shrink {
  &::before {
    content: "X";
    color: $secondary;
    position: relative;
    top: -1px;
    font-size: 26px;
    line-height: 1.2;
  }
  &:hover:before{
    color: $link-hover-color;
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
    background-image: none;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
    background-image: none;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
    margin: 0;
    background-image: url("/img/icon/compass.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;

    &:hover {
      background-image: url("/img/icon/compass-hover.svg");
    }
}
.mapboxgl-ctrl-group > button:focus {
    box-shadow: none;
}
.mapboxgl-ctrl-group > button + button {
    border-top: none;
}
.mapboxgl-ctrl-top-right {
  top: 10px;
  right: 10px;
}
.fullscreen{
  .mapboxgl-ctrl-top-right {
    top: 80px;
    right: 10px;
  }
}
// ol zoom controls need to add 'mt-button' rotate control needs 'mt-button-last' class in js
.fullscreen{
  .mt-button {
    top: 80px;
    right: 10px;
    padding: 0 !important;
  }
}
.fullscreen{
  .mt-button-last{
      top: 140px;
      right: 10px;
      padding: 0 !important;
      background: none !important;
  }
}
.mt-button{
  top: 10px;
  right: 10px;
  padding: 0 !important;
}
.mt-button-last{
    top: 70px;
    right: 10px;
    padding: 0 !important;
    background: none !important;
}
.mt-button-in {
  height: 30px!important;
  width: 30px!important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: white !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  color: #333359 !important;
  color: transparent !important;
  &:hover {
    background-color: darken(white, 5%)!important;
}
  &::before {
    content: '+ ';
    font-weight: 500;
    font-family: 'icons';
    color: #333359;
    position: relative;
    font-size: 24px;
    line-height: 1.25;
  }
  &:hover:before{
    color: $link-hover-color;
  }
}

.mt-button-out {
  height: 30px!important;
  width: 30px!important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: white !important;
  color: #333359 !important;
  border-top: 1px solid $light !important;
  border-bottom: 1px solid $light !important;
  color: transparent !important;
  &:hover {
    background-color: darken(white, 5%)!important;
}
 &::before {
   content: '-';
   font-weight: 500;
   font-family: 'icons';
   color: #333359;
   position: relative;
   font-size: 24px;
   line-height: 1.25;
 }
 &:hover:before{
     color: $link-hover-color;
   }
}

.mt-button-last-reset {
  height: 30px!important;
  width: 30px!important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: white !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  position: relative;
  color: transparent !important;

  &:hover {
    background-color: darken(white, 5%)!important;
  }

  .ol-compass {
    background: url("/img/icon/compass.svg");
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;

    &:hover {
      background-image: url("/img/icon/compass-hover.svg");
    }
  }
}
