/* Messages */
.flashes{
  position: absolute;
  width: $message-width;
  left: 50%;
  top: 100px;
  margin-left: -220px;
  z-index: 1000;
  transition: all 0.5s ease-out;

  &.right{
    position: fixed;
    left: auto;
    right: 0;
    margin-left: 0;

    animation: 0.8s ease-out 0s 1 slideFromRight;
  }

  &.closed{
    right: -440px;
  }
}

.message-box{
  position: absolute;
}

.message{
  color: $message-color;
  background-color: $message-bg;
  padding: 25px;
  font-weight: normal;
  min-height: 70px;
  position: relative;
  padding-left: 95px;
  margin: 10px 0;
  font-size: 14px;
  color: $message-color !important;
  box-shadow: $message-shadow;

  &::before{
    content: url("#{$messages-icon}check-white.svg");
    background-color: $blue;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 26px 0;
    width: 70px;
    text-align: center;
  }

  &.success::before{
    content: url("#{$messages-icon}check-white.svg");
    background-color: $green;
  }
  &.warning::before{
    content: url("#{$messages-icon}info_outline-white.svg");
    background-color: $orange;
  }
  &.error::before{
    content: url("#{$messages-icon}clear-white.svg");
    background-color: $red;
  }

}

.flashes.right .message {
  right: 0;

  &.closed {
    transition: right 0.8s ease-out;
    right: -440px;
  }
}
