/* Messages */
.flashes{
  position: absolute;
  width: $message-width;
  left: 50%;
  top: 100px;
  margin-left: -220px;
  z-index: 1000;
  transition: all 0.5s ease-out;

  &.right{
    position: fixed;
    left: auto;
    right: 0;
    margin-left: 0;

    animation: 0.8s ease-out 0s 1 slideFromRight;
  }

  &.closed{
    right: -440px;
  }
}

.message-box{
  position: absolute;
}

.message{
  color: $body-color;
  background-color: white;
  padding: 25px;
  font-weight: normal;
  min-height: 70px;
  position: relative;
  padding-left: 95px;
  margin: 10px 0;
  font-size: 14px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &::before{
    content: url("#{$messages-icon}info-blue.svg");
    position: absolute;
    left: 30px;
    transform: scale(1.5);
  }

  &.success::before{
    content: url("#{$messages-icon}check_circle-success.svg");
  }
  &.warning::before{
    content: url("#{$messages-icon}warning-orange.svg");
  }
  &.error::before{
    content: url("#{$messages-icon}cancel-red.svg");
  }
}

.flashes.right .message {
  right: 0;

  &.closed {
    transition: right 0.8s ease-out;
    right: -440px;
  }
}
