  .rhomb {
    background: #448aff;
    display: block;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 30px);
    margin-top: -94px;
    border-radius: 18px;
    transform: rotate(45deg);

    span {
      font-family: 'icons';
      color: #fff;
      font-size: 44px;
      display: block;
      line-height: 60px;
      transform: rotate(-45deg);
    }

    &.desktop {
      background: $desktop;

      span {
        font-size: 40px;
      }
    }

    &.engine {
      background: $engine;

      span {
        font-size: 40px;
      }
    }

    &.mobile {
      background: $mobile;

      span {
        font-size: 40px;
      }
    }

    &.server {
      background: $server;

      span {
        font-size: 40px;
      }
    }
  }

  #cloud-add {
    position: absolute;
    bottom: 30px;
    right: 10px;
    width: 280px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1002;
    transition: all 0.3s ease;
    padding: 25px;
    max-height: 175px;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    a {
      text-decoration: none;
    }

    p {
      line-height: 1.25;
      font-size: 14px;
    }

    #cloud-add-close {
      position: absolute;
      right: 8px;
      top: 5px;
      cursor: pointer;
    }

    &.cloud-add-bigger {
      max-height: 300px;
    }
  }
  .hidden{
    display: none !important;
  }
  .tiles-desktop {
    img {
      height: auto;
      width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    p {
      color: $body-color;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden !important;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .ic-mbtiles {
    padding: 10px 0px 0 1px !important;
  }
  .ic-geopackage{
    padding: 10px 0px 0 4px !important;
  }
  .ic-folder{
    padding: 12px 0px 0 12px !important;
    font-size: 55px !important;
  }
  .ic-cloud{
    padding: 12px 0px 0 0px !important;
    font-size: 55px !important;
  }
  .ic-mobile{
    padding: 11px 0px 0 6px !important;
    font-size: 58px !important;
  }

  #technicalspec {
    ul {
      font-size: 115%;
      padding-top: 40px;
    }
  }

  .button-techspec {
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    background: white;
    color: #6b7c93 !important;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 6px 40px -20px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;

    &.active,
    &.open,
    &:focus,
    &:hover {
      background: $primary;
      color: white !important;
      text-decoration: none;
    }
  }
  .table-sale {
    td:nth-child(1){
      border-right: none;
    }
    td:nth-child(2){
      background-color: rgba(53, 193, 134, 0.05);
      border: 1px solid #35C186;
    }
  }
// Carousel
  #homeCarousel{
    .home-pagination{
      @include media-breakpoint-up(md) {
        justify-content: flex-start;
        padding: 0;
      }
      padding: 20px 0;
        .home-pagination-btn{
          margin: 0 6px;
          border: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          padding: 0;
          color: currentColor;
          opacity: .3;
          &.is-active{
            opacity: 1;
          }
      }
    }
  }
.mt-slide-arrow{
  color: $primary;
  background: white;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: $box-shadow;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1010;

  &.mt-slide-prev{
    left: -25px;
  }
  &.mt-slide-next{
    right: -25px;
  }
}
.splide__track.slide__fade{
  overflow: visible !important;
}

#map-carousel {
  @media (min-width:  1500px){
    max-width: 1500px;
  }
  @extend .container-fluid;
  .splide__slide__container{
    transition: all .15s ease-in-out;
    margin: 0 15px;
    &:hover{
      transform: scale(1.05);
    }
  }
}

// misc
.customer-logo-link{
  color: #AEB6C7;
  &:hover{
    color: darken(#AEB6C7, 12%);
  }
}
