//  products nav
#subnav-products-btn{
  &:focus~.subnav-products{
    display: flex !important;
  }
}

.subnav-products {
  div{
    position: relative;
    margin: 0 5px;
  }
  &:focus,
  &:active{
    display: flex !important;
  }
  user-select: none;
  display: none;
  position: absolute;
  width: fit-content;
  background: #fff;
  padding: 30px;
  margin-left: -300px;
  margin-top: 50px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: $zindex-popover;
  @include media-breakpoint-down(sm){
    position: relative;
    margin: 0 auto;
  }
  a {
    h4, .h4{margin: 10px 0 5px 0;}
    color: $body-color;
    font-weight: normal;
    display: block;
    margin: 5px 0;
    padding: 5px;
    padding-left: 70px;
    border-radius: $border-radius;

  &:hover{
    background: #F5F8FF;
  }
    &::before {
      content: '';
      width: 45px;
      height: 45px;
      background: url('#{$nav-icon-path}cloud-nav-icon.svg');
      position: absolute;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      left: 15px;
    }

    &.desktop::before {
      background: url('#{$nav-icon-path}desktop-nav-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }

    &.engine::before {
      background: url('#{$nav-icon-path}engine-nav-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }

    &.mobile::before {
      background: url('#{$nav-icon-path}mobile-nav-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }

    &.cluster::before {
      background: url('#{$nav-icon-path}cluster-nav-icon.svg');
      background-repeat: no-repeat;
      background-size: 41px 42px;
    }
    &.server::before {
      background: url('#{$nav-icon-path}server-nav-icon.svg');
      background-repeat: no-repeat;
      background-size: 41px 42px;
    }
    &.data::before {
      background: url('#{$nav-icon-path}data-nav-icon.svg');
      background-repeat: no-repeat;
      background-size: 41px 42px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #fff;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.tag-hiring {
  display: inline-flex !important;
  margin: 0 !important;
}
.tag-hiring:after {
  content: 'We are hiring';
    padding: 10px 11px;
    left: -10px;
    top: -8px;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    background-color: #333359;
    color: white;
}
.tag-hiring span:after {
    content: '';
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 12px solid #333359;
      transform: rotate(-90deg);
  }
  .tag-hiring {
    display: inline-flex !important;
    margin: 0 0 5px 0 !important;
    &:after {
      content: 'We are hiring';
        padding: 9px 11px;
        left: -10px;
        top: -8px;
        border-radius: 4px;
        font-size: 14px;
        position: relative;
        display: inline-block;
        background-color: $secondary;
        color: white;
    }
    span {
      &:after {
        content: '';
          position: relative;
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 12px solid #333359;
          transform: rotate(-90deg);
      }
    }
  }
  .navbar:not(.navbar-small){
    .navbar-brand{
      img{
        height: 58px;
        @include media-breakpoint-down(md){
          height: 36px;
        }
      }
    }
  }

  .rhomb {
    background: #448aff;
    display: block;
    width: 60px;
    height: 60px;
    margin-left: calc(50% - 30px);
    margin-top: -94px;
    border-radius: 18px;
    transform: rotate(45deg);

    span {
      font-family: 'icons';
      color: #fff;
      font-size: 44px;
      display: block;
      line-height: 60px;
      transform: rotate(-45deg);
    }

    &.desktop {
      background: $desktop;

      span {
        font-size: 40px;
      }
    }

    &.engine {
      background: $engine;

      span {
        font-size: 40px;
      }
    }

    &.mobile {
      background: $mobile;

      span {
        font-size: 40px;
      }
    }

    &.server {
      background: $server;

      span {
        font-size: 40px;
      }
    }
  }

  #cloud-add {
    position: absolute;
    bottom: 30px;
    right: 10px;
    width: 280px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1002;
    transition: all 0.3s ease;
    padding: 25px;
    max-height: 175px;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    a {
      text-decoration: none;
    }

    p {
      line-height: 1.25;
      font-size: 14px;
    }

    #cloud-add-close {
      position: absolute;
      right: 8px;
      top: 5px;
      cursor: pointer;
    }

    &.cloud-add-bigger {
      max-height: 300px;
    }
  }
  .hidden{
    display: none !important;
  }
  .tiles-desktop {
    img {
      height: auto;
      width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    p {
      color: $body-color;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden !important;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .ic-mbtiles {
    padding: 10px 0px 0 1px !important;
  }
  .ic-geopackage{
    padding: 10px 0px 0 4px !important;
  }
  .ic-folder{
    padding: 12px 0px 0 12px !important;
    font-size: 55px !important;
  }
  .ic-cloud{
    padding: 12px 0px 0 0px !important;
    font-size: 55px !important;
  }
  .ic-mobile{
    padding: 11px 0px 0 6px !important;
    font-size: 58px !important;
  }

  #technicalspec {
    ul {
      font-size: 115%;
      padding-top: 40px;
    }
  }

  .button-techspec {
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    background: white;
    color: #6b7c93 !important;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 6px 40px -20px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;

    &.active,
    &.open,
    &:focus,
    &:hover {
      background: $primary;
      color: white !important;
      text-decoration: none;
    }
  }
  .cheap-table {
    color: #579e57;
    text-align: center;
    border-left: 2px solid $success !important;
    border-right: 2px solid $success !important;
    background: #f4fef7;
    font-size: 16px !important;
  }

  .cheap-table-first {
    border-top: 2px solid $success;
  }

  .cheap-table-last {
    border-bottom: 2px solid $success;
  }
  .banner-martin {
      bottom: -72px;
  }

  .nav {
    .nav-link.text-white.active{
      color: white !important;
      border-bottom: 2px solid #fff;
    }
    .nav-link.text-secondary.active{
      border-bottom: 2px solid $secondary;
    }
  }
  .navbar-dark {
    .nav-link.active {
      @include media-breakpoint-up(sm) {
        border-bottom: 2px solid $secondary;
      }
    }
  }
  .navbar-light {
    .nav-link.active {
      @include media-breakpoint-up(sm) {
        border-bottom: 2px solid #fff;
        color: white !important;
      }
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    @include media-breakpoint-down(lg){
      width: 20%;
    }
    &:after {
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: $box-shadow;
    @include media-breakpoint-down(lg){
      display: none;
    }
  }
  .carousel-inner {
    @include media-breakpoint-up(lg){
      padding: 0 55px;
    }
  }


  @include media-breakpoint-down(sm){
  .navbar-mobile{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000;
      box-shadow: $box-shadow;
      background: white;
      @include media-breakpoint-down(xs){
        width: 100%;
      }
    }
  }
  .navbar-brand.product-brand {
    @include media-breakpoint-down(lg) {
      transform: scale(.75);
      width: 0;
    }
    @include media-breakpoint-down(sm) {
      transform: scale(.6);
    }
    svg {
      width: 350px;
      height: 58px;
    }
    &.adaptive-brand{
      color: white;
      @include media-breakpoint-up(md) {
        color: $secondary;
      }
    }
  }
