// navbar
#navbar:not(.navbar-small){
 @extend .container-lg;
 height: 72px;
}

.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

//Mobilenav
@include media-breakpoint-down(lg){
.navbar-mobile{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: $box-shadow;
    background: white;
    @include media-breakpoint-down(xs){
      width: 100%;
    }
  }
}

.navbar-mobile-dropdown{
  height: 72px;
  padding: 0 30px;
}

//navigation dropdowns
.dropdown-menu-navbar{
  padding: 20px;
  margin-top: 10px !important;
  border-radius: 15px;
  left: 50% !important;
  box-shadow: 0px 15px 68px rgba(51, 51, 89, 0.15);

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #fff;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.navbar-links{
  .dropdown-link{
    display: block;
    padding: 5px;
    padding-right: 30px;
    border-radius: 5px;
    color: $secondary;
    width: 100%;
    min-width: 150px;
    white-space: nowrap;
    font-size: 15px;

    &:hover{
      background: $lighter;
      color: $primary;
    }
  }
}

.dropdown-products {
  .dropdown-link{
    display: block;
    min-width: 220px;
    padding: 9px 8px;
    svg,img{transform: translateY(-1px);margin-right: 8px;}
    color: $secondary;
    &:hover{
      background: $lighter;
      color: $primary;
    }
  }

  &.dropdown-data{
    .dropdown-link:hover{
      color: $data;
      background: $data-light;
    }
  }
  &.dropdown-desktop{
    .dropdown-link:hover{
      color: $desktop;
      background: $desktop-light;
    }
  }
  &.dropdown-cloud{
    .dropdown-link:hover{
      color: $cloud;
      background: $cloud-light;
    }
  }
}

//navigation links
.navbar-nav{
  @extend .flex-lg-row;
  @include media-breakpoint-down(lg){
    max-height: 100vh;
    overflow-y: auto;
  }
  .nav-item.nav-link {
    font-weight: 600;
    &:hover{
      color: $primary;
    }
    &[aria-expanded="true"] {
        color: $primary;
    }
  }
}

// mobile

// footer
.footer {
  .social-circles{
    a {
      transform: scale(.85);
      width: 30px;
      height: 30px;
    }
  }
  .link-list{
    a{
      color: $secondary;
      display: block;
      margin: 10px 0;
      font-size: 14px;
      &:hover{
        color: $primary;
      }
    }
  }
}
// secondary nav
.nav.nav-secondary {
  justify-content: flex-end;

  .nav-secondary-link {
    @extend .nav-item;
    @extend .nav-link;
    margin: 0 5px;
    font-weight: $font-weight-bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $secondary;

    &:hover {
      color: $secondary !important;
    }

    &.active {
      border-bottom: 2px solid $secondary;
    }
  }

  &.nav-secondary-light {
    .nav-secondary-link {
      color: $white;

      &:hover {
        color: $white !important;
      }

      &.active {
        border-bottom: 2px solid $white;
      }
    }
  }
}
// product border colors
.border-nav-cloud{
  border-color: #B5D4FA !important;
}
.border-nav-desktop{
  border-color: #D1C4E9 !important;
}
.border-nav-engine{
  border-color: #F1BB93 !important;
}
.border-nav-mobile{
  border-color: #B5F8FD !important;
}
.border-nav-server{
  border-color: #FBB8BB !important;
}
.border-nav-data{
  border-color: #B9E8B0 !important;
}
