// navbar
#navbar:not(.navbar-small){
 @extend .container;
}
.navbar-small {
  z-index: $zindex-fixed;
  padding: 0 !important;
  background: rgba(255,255,255,.9);
  box-shadow: 0 10px 35px rgba(51,51,89,.1);
}

@include media-breakpoint-down(md){
.navbar-mobile{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: $box-shadow;
    background: white;
    @include media-breakpoint-down(xs){
      width: 100%;
    }
  }
}

// mt logo scaling
.navbar-brand.product-brand {
  @include media-breakpoint-down(lg) {
    transform: scale(.75);
    width: 0;
  }
  @include media-breakpoint-down(sm) {
    transform: scale(.6);
  }
  &.adaptive-brand{
    color: white;
    @include media-breakpoint-up(md) {
      color: $secondary;
    }
  }
}
//  products nav
#subnav-products-btn{
  &:focus~.subnav-products{
    display: flex !important;
  }
}

.subnav-products {
  div{
    position: relative;
    margin: 0 5px;
    max-width: 315px;
  }
  &:focus,
  &:active{
    display: flex !important;
  }
  user-select: none;
  display: none;
  position: absolute;
  width: fit-content;
  background: #fff;
  padding: 30px;
  margin-left: -300px;
  margin-top: 50px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: $zindex-popover;
  @include media-breakpoint-down(sm){
    position: relative;
    margin: 0 auto;
  }
  a {
    .product-title {margin: 10px 0 5px 0;}
    color: $body-color;
    font-weight: normal;
    display: block;
    margin: 5px 0;
    padding: 5px;
    padding-left: 70px;
    border-radius: $border-radius;

  &:hover{
    background: #F5F8FF;
  }
    &::before {
      content: '';
      width: 45px;
      height: 45px;
      background-image: none;
      position: absolute;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      left: 15px;
    }

    &.cloud::before {
      background-image: url('#{$nav-icon}cloud-icon.svg');
    }
    &.desktop::before {
      background-image: url('#{$nav-icon}desktop-icon.svg');
    }
    &.engine::before {
      background-image: url('#{$nav-icon}engine-icon.svg');
    }

    &.mobile::before {
      background-image: url('#{$nav-icon}mobile-icon.svg');
    }

    &.cluster::before {
      background-image: url('#{$nav-icon}cluster-icon.svg');
    }
    &.server::before {
      background-image: url('#{$nav-icon}server-icon.svg');
    }
    &.data::before {
      background-image: url('#{$nav-icon}data-icon.svg');
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #fff;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.subnav-products-mobile{
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  a.nav-item {
    padding: 20px 0;
    font-weight: normal;
  }
  .products{
    text-align: left;
    padding-bottom: 30px;

    a{
      padding-left: 50px;
      &:before {
        content: '';
        width: 35px;
        height: 35px;
        background-image: none;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        left: 10px;
        margin-top: -5px;
      }
      &.cloud{
        color: $cloud;
        &:before {
          background-image: url('#{$nav-icon}cloud-icon.svg');
        }
      }
      &.desktop{
        color: $desktop;
        &:before {
          background-image: url('#{$nav-icon}desktop-icon.svg');
        }
      }
      &.engine{
        color: $engine;
        &:before {
          background-image: url('#{$nav-icon}engine-icon.svg');
        }
      }
      &.mobile{
        color: $mobile;
        &:before {
          background-image: url('#{$nav-icon}mobile-icon.svg');
        }
      }
      &.cluster{
        color: cluster;
        &:before {
          background-image: url('#{$nav-icon}cluster-icon.svg');
        }
      }
      &.server{
        color: $server;
        &:before {
          background-image: url('#{$nav-icon}server-icon.svg');
        }
      }
      &.data{
        color: $data;
        &:before {
          background-image: url('#{$nav-icon}data-icon.svg');
        }
      }
    }
  }
}
// active states

.nav {
  .nav-link.text-white.active{
    color: white !important;
    border-bottom: 2px solid #fff;
  }
  .nav-link.text-secondary.active{
    border-bottom: 2px solid $secondary;
  }
}
.navbar-dark {
  .nav-link.active {
    @include media-breakpoint-up(sm) {
      border-bottom: 2px solid $secondary;
    }
  }
}
.navbar-light {
  .nav-link.active {
    @include media-breakpoint-up(sm) {
      border-bottom: 2px solid #fff;
      color: white !important;
    }
  }
}

// footer
.footer {
  .link-list{
    a{
      color: $dark;
      display: block;
      margin: 10px 0;
      &:hover{
        color: $primary;
      }
    }
  }
  .mt-copyright{
    @include make-col(12);
    a{
      color: $dark;
      display: inline;
    }
  }
}
// secondary nav
.nav.nav-secondary {
  justify-content: flex-end;

  .nav-secondary-link {
    @extend .nav-item;
    @extend .nav-link;
    margin: 0 5px;
    font-weight: $font-weight-bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $secondary;

    &:hover {
      color: $secondary !important;
    }

    &.active {
      border-bottom: 2px solid $secondary;
    }
  }

  &.nav-secondary-light {
    .nav-secondary-link {
      color: $white;

      &:hover {
        color: $white !important;
      }

      &.active {
        border-bottom: 2px solid $white;
      }
    }
  }
}
// product border colors
.border-nav-cloud{
  border-color: #B5D4FA !important;
}
.border-nav-desktop{
  border-color: #D1C4E9 !important;
}
.border-nav-engine{
  border-color: #F1BB93 !important;
}
.border-nav-mobile{
  border-color: #B5F8FD !important;
}
.border-nav-server{
  border-color: #FBB8BB !important;
}
.border-nav-data{
  border-color: #B9E8B0 !important;
}
