.popup {
  z-index: 111;
  position: fixed;
  width: $popup-width;
  min-height: 100px;
  top: $popup-top;
  left: 50%;
  margin-left: ($popup-width * 0.5) * -1;
  padding: $popup-padding;
  background: $popup-bg-color;
  transition: all 0.3s ease;
  border-radius: $popup-radius;

  &.closed {
    top: -1000px;
  }

  .popup-title {
    display: block;
    font-weight: bold;
    padding: 0 0 10px;
    font-size: 120%;
  }

  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'icons';
    cursor: pointer;
    color: $body-color;

    &:hover {
      text-decoration: none;
      color: darken($body-color, 20%);
    }
  }

  .popup-content {
    display: block;
  }

  .popup-actions {
    display: block;
    margin-top: 10px;

    div {
      margin-right: 10px;
    }
  }

  ul.options {
    max-height: 400px;
    overflow: auto;

    li {
      cursor: pointer;
      display: block;
      padding: 2px;

      &:nth-child(even) {
        background: #f9f9f9;
      }

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.popup-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $popupbg-bg-color;
  z-index: 101;
  transition: 0.3s all ease;

  &.closed {
    display: none;
  }
}
