.plans {
  line-height: 0;
  border-radius: 6px;
  .invisible {
    visibility: hidden;
  }
  @include media-breakpoint-up(xl) {
    background: #fff;
    box-shadow: 0 6px 35px 0 rgba(0,0,0,0.1);
  }

  &.thin {
    @media(min-width: 1200px) {
      .plans-card:first-child {
        width: 25% !important;
      }
      .plans-card {
        width: 15% !important;
      }
    }
  }

  .plans-card {
    width: 20%;
    display: inline-block;
    @media (max-width: 1200px) {
      margin: 5px 0;
      border-radius: 6px;
      padding: 0 20px;
      box-shadow: 0 6px 35px 0 rgba(0,0,0,0.1);
      width: 100%;
      background: #fff;
      .btn-gray-dark {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 1200px) {
    div.plans-card:first-child {
      display: none;
    }

    td:first-child {
      text-align: left;
      padding-left: 15px !important;
    }
  }

  @include media-breakpoint-up(xl) {
    td:first-child {
      display: none;
    }
  }

    .plans-table {
      width: 100%;
      tbody{
        tr:last-child{
          td:last-child{
            border-bottom: none;
          }
        }
      }
      td {
        border-bottom: 1px solid $light;
        line-height: 1.2;
        font-size: 14px;
        height: 64px;
      }
    }
  }
.head-recommended {
  @media (min-width: 1200px) {
    &:before {
      content: 'Recommended';
      position: absolute;
      line-height: 1.8;
      z-index: 2;
      background: $primary;
      color: white;
      top: -25px;
      display: block;
      padding: 10px 56px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &.desktop:before {
      background: $desktop;
      padding: 10px 29px;
    }

    &.data:before {
      background: $data;
    }
  }
}
