.product-switch-wrap{
  position: relative;
  height: 45px;
}
.product-switch{
  background: rgba(255,255,255,0);
  border-radius: 50%;
  padding: 0;
  margin: 10px;
  right: 10px;
  transition: .1s;

  &:focus{
    background: rgba(255,255,255,.35);
    padding: 10px;
    margin: 0;
  }
  &:active{
    background-color: rgba(255,255,255,.4);
  }
  &:focus~.product-switch-container {
    height: 230px;
  }
}

.product-switch-container{
  height: 0;
  width: 230px;
  position: absolute;
  overflow: hidden;
  background: $white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  top: 0;
  margin-top: 55px;
  transition: $transition-collapse;
  z-index: $zindex-modal;

  .switch-title{background: $lighter;padding: 15px; margin: 0;border-top: $border-radius;user-select:none;}
  .switch-link{
    user-select: none;
    padding: 15px 30px;
    padding-left: 75px;
    display: block;
    color: $darker;

    &:hover{background: $lighter;}
    &:before{
      content: '';
      width: 45px;
      height: 45px;
      position: absolute;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      transform: translate(-53px,-7px);
    }
  }

  .web-switch{
    &:before{
      background: url('#{$nav-icon}website-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }
  }
  .cloud-switch{
    &:before{
      background: url('#{$nav-icon}cloud-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }
  }
  .data-switch{
    &:before{
      background: url('#{$nav-icon}data-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }
  }

  &:focus,
  &:active{
    display: block !important;
  }
}
