/* banners, backgrounds*/
.banner {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-banner {
  @include make-container();
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  height: 700px;

  .product-banner-img {
    z-index: -1;
    position: absolute;
    height: auto;
    width: 948px;
    transform: translate(-195px, -365px) scale(1.5);
    @include media-breakpoint-up(sm) {
      transform: translate(-80px, -365px) scale(1.5);
    }
    @include media-breakpoint-up(md) {
      left: 50%;
      transform: translate(-75px, 0px);
    }
  }
}

// background rectangles

.background-rectangle {
  z-index: -10;
  position: absolute;
  pointer-events: none;
  right: 50%;
  img, svg{
    transform: scale(var(--rScale)) translateX(var(--rX)) translateY(var(--rY)) rotate(var(--rRotate));
  }
}
