@each $topbars, $value in $topbars {
  .topbar.#{$topbars} {
    position: absolute;
    height: 75px;
    background: $value;
    width: 100%;
    z-index: 2;

    img, svg {
      height: 100%;
      padding: 10px;
    }
  }
}
