.no-select{
  user-select: none;
}
.uderline{
  text-decoration: underline;
}
.stick-left{left: 0;}
.stick-right{right: 0;}
.stick-top{top: 0;}
.stick-bottom{bottom: 0;}

@each $font-sizes, $value in $font-sizes {
  .#{$font-sizes} {
    @media (min-width: 500px){
      font-size: $value;
    }
  }
}
@each $color, $value in $theme-colors {
  .shadow-#{$color} {
    box-shadow: 0 10px 30px #{$value}40;
  }
}
@for $i from -1 through 10 {
  .z-#{$i} {
    z-index: $i;
  }
}
