.no-select{user-select: none;}
.uderline{text-decoration: underline;}
.stick-left{left: 0;}
.stick-right{right: 0;}
.stick-top{top: 0;}
.stick-bottom{bottom: 0;}
.svg-text{vertical-align: bottom;}
.events-none{pointer-events: none;}

@each $font-sizes, $value in $font-sizes {
  .#{$font-sizes} {
    @media (min-width: 500px){
      font-size: $value;
    }
  }
}
@each $color, $value in $theme-colors {
  .shadow-#{$color} {
    box-shadow: 0 10px 30px #{$value}40;
  }
}
@for $i from -1 through 10 {
  .z-#{$i} {
    z-index: $i;
  }
}
p, h1, h2, h3, h4, h5, h6, {
  margin-top: $headings-margin-top;
  margin-bottom: $headings-margin-bottom;
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $scale-name, $value in $transform-scale {
      .scale#{$infix}-#{$scale-name} {
        transform: scale($value)!important;
      }
    }
  }
}
.collapse-arrow {
  transform: rotateX(0deg);
  transition: 0.25s;
}
a[aria-expanded="true"] {
  .collapse-arrow {
    transform: rotateX(180deg);
    color: $primary;
  }
}
