<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a class="text-secondary" href="/">
          <svg viewBox="0 0 318 55"><use href="/logo/maptiler-logo-adaptive.svg#maptilerLogo"></use></svg>
        </a>
        <p class="mt-8">Follow&nbsp;us&nbsp;on</p>
        <div class="social-circles">
          <a class="twitter" href="https://twitter.com/MapTiler"></a>
          <a class="linkedin" href="https://www.linkedin.com/company/maptiler"></a>
          <a class="facebook" href="https://www.facebook.com/maptiler/"></a>
        </div>
      </div>
      <div class="col link-list">
        <h4>Products</h4>
        <a href="https://www.maptiler.com/cloud/">Cloud</a>
        <a href="https://www.maptiler.com/desktop/">Desktop</a>
        <a href="https://www.maptiler.com/engine/">Engine</a>
        <a href="https://www.maptiler.com/mobile/">Mobile</a>
        <a href="https://www.maptiler.com/server/">Server</a>
        <a href="https://www.maptiler.com/cluster/">Cluster</a>
      </div>
      <div class="col link-list">
        <h4>Usage</h4>
        <a href="https://www.maptiler.com/gallery/drones/">Drones</a>
        <a href="https://www.maptiler.com/gallery/satellite/">Satellite imagery</a>
        <a href="https://www.maptiler.com/gallery/agriculture/">Agriculture</a>
        <a href="https://www.maptiler.com/google-maps-platform-alternative/">Google Maps API alternative</a>
        <a href="https://www.maptiler.com/mapbox-alternative/">MapBox alternative</a>
      </div>
      <div class="col link-list">
        <h4>Resources</h4>
        <a href="https://www.maptiler.com/open-source/">Open source</a>
        <a href="https://support.maptiler.com/">Support</a>
        <a href="https://support.maptiler.com/add-ticket">Bug report</a>
        <a href="https://www.maptiler.com/support/">Paid support</a>
      </div>
      <div class="col link-list">
        <h4>Company</h4>
        <a href="https://www.maptiler.com/news/">News</a>
        <a href="https://www.maptiler.com/team/">Team</a>
        <a href="https://www.maptiler.com/jobs/">Jobs</a>
        <a href="https://www.maptiler.com/press/">Press</a>
        <a href="https://www.maptiler.com/company/">Company</a>
        <a href="https://www.maptiler.com/#contact">Contact sales</a>
      </div>
      <div class="mt-copyright text-center border-top border-light mt-8">
        <p class="py-4">
          &copy;&nbsp;<script>
            document.write(new Date().getFullYear())
          </script>&nbsp;<a href="https://www.maptiler.com/company/">MapTiler</a>. All&nbsp;rights&nbsp;reserved.
          <a href="https://www.maptiler.com/privacy-policy/">Privacy</a>&nbsp;&amp;&nbsp;<a href="https://www.maptiler.com/terms/">Terms</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
