<footer class="footer border-top border-light">
  <div class="container-lg pt-5">
    <div class="row justify-content-end">
      <div class="col-md-4 mb-4">
        <div class="row align-items-center">
          <div class="col-md-12">
            <a class="text-secondary" href="/">
              <svg width="205" viewBox="0 0 215 55"><use href="{{ include.styles_path }}/logo/maptiler-logo-adaptive.svg#maptilerLogo"></use></svg>
            </a>
          </div>
          <div class="col-md-12">
            <p class="mt-md-8">Follow&nbsp;us&nbsp;on</p>
            <div class="social-circles">
              <a class="twitter" href="https://twitter.com/MapTiler"></a>
              <a class="linkedin" href="https://www.linkedin.com/company/maptiler"></a>
              <a class="facebook" href="https://www.facebook.com/maptiler/"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h4>Products</h4>
        <a href="{{ include.link_url }}/cloud/">Cloud</a>
        <a href="{{ include.link_url }}/data/">Data</a>
        <a href="{{ include.link_url }}/desktop/">Desktop</a>
        <a href="{{ include.link_url }}/server/">Server</a>
        <a href="{{ include.link_url }}/engine/">Engine</a>
        <a href="{{ include.link_url }}/mobile/">Mobile</a>
        <a href="{{ include.link_url }}/cluster/">Cluster</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h4>Usage</h4>
        <a href="{{ include.link_url }}/weather/">Weather</a>
        <a href="{{ include.link_url }}/industry/transportation/">Transportation</a>
        <a href="{{ include.link_url }}/industry/government/">Government</a>
        <a href="{{ include.link_url }}/industry/business-intelligence/">Business intelligence
        <a href="{{ include.link_url }}/industry/news-media/">News & Media</a>
        <a href="{{ include.link_url }}/industry/aviation/">Aviation</a>
        <a href="{{ include.link_url }}/google-maps-platform-alternative/">Google Maps API alternative</a>
        <a href="{{ include.link_url }}/mapbox-alternative/">MapBox alternative</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h4>Resources</h4>
        <a href="https://documentation.maptiler.com/">Docs</a>
        <a href="{{ include.link_url }}/open-source/">Open source</a>
        <a href="https://maptiler.zendesk.com/hc/en-us/requests/new">Bug report</a>
        <a href="{{ include.link_url }}/support/">Paid support</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h4>Company</h4>
        <a href="{{ include.link_url }}/news/">News</a>
        <a href="{{ include.link_url }}/team/">Team</a>
        <a href="{{ include.link_url }}/jobs/">Jobs</a>
        <a href="{{ include.link_url }}/press/">Press</a>
        <a href="{{ include.link_url }}/contacts/">Company info</a>
        <a class="contact-btn" {% if include.link_url != null %}href="{{ include.link_url }}/#contact"{% endif %} >Contact sales</a>
        <a id="ybug" href="#feedback">Website feedback</a>
      </div>
      <div class="mt-copyright text-center border-top border-light mt-8">
        <p class="py-4">
          &copy;&nbsp;<script>
            document.write(new Date().getFullYear())
          </script>&nbsp;<a href="{{ include.link_url }}/contacts/">MapTiler</a>. All&nbsp;rights&nbsp;reserved.
          <a href="{{ include.link_url }}/privacy-policy/">Privacy</a>&nbsp;&amp;&nbsp;<a href="{{ include.link_url }}/terms/">Terms</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
