<footer class="footer border-top border-light">
  <div class="container-lg pt-5">
    <div class="row justify-content-end">
      <div class="col-md-2 mb-4">
        <div class="row align-items-center">
          <div class="col-md-12">
            <a class="text-secondary" href="/">
              <svg class="mt-1" width="205" viewBox="0 0 215 55"><use href="{{ include.styles_path }}/logo/maptiler-logo-adaptive.svg?123#maptilerLogo"></use></svg>
            </a>
            <div class="ps-gutter">
              <p class="text-secondary mb-1 ps-o5">Follow&nbsp;us&nbsp;on</p>
              <div class="social-circles">
                <a target="_blank" class="twitter" href="https://twitter.com/MapTiler"></a>
                <a target="_blank" class="linkedin" href="https://www.linkedin.com/company/maptiler"></a>
                <a target="_blank" class="facebook" href="https://www.facebook.com/maptiler/"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h6>Products</h6>
        <a href="{{ include.link_url }}/cloud/">Maps API</a>
        <a href="{{ include.link_url }}/cloud/geocoding/">Geocoding</a>
        <a href="{{ include.link_url }}/cloud/customize/">Map designers tool</a>
        <a href="{{ include.link_url }}/cloud/geodata-hosting/">GeoData hosting</a>
        <a href="{{ include.link_url }}/cloud/static-maps/">Static map</a>
        <a href="{{ include.link_url }}/cloud/geoip/">IP Geolocation API</a>
        <a href="{{ include.link_url }}/engine/">Data processing</a>
        <a href="{{ include.link_url }}/weather/">Weather visualization</a>
        <a href="{{ include.link_url }}/sdk-javascript/">MapTiler SDK</a>
        <a href="{{ include.link_url }}/server/">Self-hosting Server</a>
        <a href="{{ include.link_url }}/data/">Self-hosting Data</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h6>Maps & data</h6>
        <a href="{{ include.link_url }}/maps/streets/">Streets</a>
        <a href="{{ include.link_url }}/satellite/">Satellite</a>
        <a href="{{ include.link_url }}/maps/basic/">Basic</a>
        <a href="{{ include.link_url }}/maps/light/">Light</a>
        <a href="{{ include.link_url }}/maps/dark/">Dark</a>
        <a href="{{ include.link_url }}/maps/outdoor/">Outdoor</a>
        <a href="{{ include.link_url }}/maps/winter/">Winter</a>
        <a href="https://cloud.maptiler.com/maps/topo-v2/">Topo</a>
        <a href="{{ include.link_url }}/maps/3d/">3D</a>
        <a href="{{ include.link_url }}/terrain/">Terrain</a>
        <a href="{{ include.link_url }}/countries/">Countries</a>
        <a href="{{ include.link_url }}/attribution-free-map/">Attribution-free map</a>
        <a href="{{ include.link_url }}/maps/">Map preview</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h6>Usage</h6>
        <a href="{{ include.link_url }}/industry/transportation/">Transportation</a>
        <a href="{{ include.link_url }}/industry/weather/">Weather</a>
        <a href="{{ include.link_url }}/industry/business-intelligence/">Business intelligence</a>
        <a href="{{ include.link_url }}/industry/aviation/">Aviation</a>
        <a href="{{ include.link_url }}/industry/news-media/">News & Media</a>
        <a href="{{ include.link_url }}/industry/government/">Government</a>
        <a href="{{ include.link_url }}/mapbox-alternative/">Mapbox alternative</a>
        <a href="{{ include.link_url }}/google-maps-platform-alternative/">Google Maps API alternative</a>
        <a href="{{ include.link_url }}/cloud/geolayers/">Maps in videos</a>
        <a href="{{ include.link_url }}/world-creator/">Maps for games</a>
        <a href="{{ include.link_url }}/coordinate-systems/">Custom coordinate systems</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h6>Documentation</h6>
        <a href="https://documentation.maptiler.com/">Tutorials</a>
        <a href="https://docs.maptiler.com/cloud/api/">API Reference</a>
        <a href="https://docs.maptiler.com/maplibre-gl-js/">Web SDK</a>
        <a href="https://docs.maptiler.com/maplibre-gl-native-android/">Android SDK</a>
        <a href="https://docs.maptiler.com/maplibre-gl-native-ios/">iOS SDK</a>
        <a href="https://docs.maptiler.com/schema/planet/">Planet Schema</a>
        <a href="https://docs.maptiler.com/schema/countries/">Countries Schema</a>
        <a href="https://www.youtube.com/channel/UCubcQeWuBKvqpMu172CLEXw">YouTube channel</a>
        <a href="https://maptiler.zendesk.com/hc/en-us/requests/new">Bug report</a>
      </div>
      <div class="col-6 col-md-4 col-lg-2 link-list">
        <h6>Company</h6>
        <a href="{{ include.link_url }}/news/">News</a>
        <a href="{{ include.link_url }}/team/">Team</a>
        <a href="{{ include.link_url }}/jobs/">Jobs</a>
        <a href="{{ include.link_url }}/partner/">Become a Partner</a>
        <a href="{{ include.link_url }}/open-source/">Open-source</a>
        <a href="{{ include.link_url }}/press/">Press</a>
        <a href="{{ include.link_url }}/contacts/">Company info</a>
        <a class="contact-btn" {% if include.link_url != null %}href="{{ include.link_url }}/#contact"{% endif %} >Contact sales</a>
        {% if include.url == "" %}<a id="ybug" href="#feedback">Website feedback</a>{% endif %}
      </div>
      <div class="border-top border-light mt-6">
        <p class="py-4">
          &copy;&nbsp;
          <span id="copyrightYear"></span>
          &nbsp;<a class="text-dark" href="{{ include.link_url }}/contacts/">MapTiler</a>. All&nbsp;rights&nbsp;reserved.
          <a href="{{ include.link_url }}/privacy-policy/">Privacy</a>&nbsp;&amp;&nbsp;<a href="{{ include.link_url }}/terms/">Terms</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
<script>
  document.getElementById('copyrightYear').innerHTML = new Date().getFullYear();
</script>
