<div class="border-bottom border-light bg-white navbar-sticky-top">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark navbar-maptiler">
    {% if page.style contains 'desktop' or page.style contains 'cloud'
        or page.style contains 'mobile' or page.style contains 'cluster'
        or page.style contains 'engine' or page.style contains 'server'
        or page.style contains 'data' %}
    <a class="navbar-brand product-brand adaptive-brand" href="{{ '/' | relative_url }}">
      <svg width="265" height="41">
        <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-{{ page.style | replace: " svg","" }}.svg?123#{{ page.style | replace: " svg","" }}"></use>
      </svg>
    </a>
    {% elsif page.style contains 'basemaps' %}
    <a class="navbar-brand pl-gutter product-brand {% if page.style contains 'satellite' %}adaptive-brand{% endif %}" href="{{ '/' | relative_url }}">
      <svg width="250" height="41">
        <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-data.svg?123#data"></use>
      </svg>
    </a>
    {% elsif page.style contains 'sdk' %}
    <a class="navbar-brand pl-gutter product-brand" href="{{ '/' | relative_url }}">
      <svg width="250" height="41">
        <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-sdk.svg?123#sdk"></use>
      </svg>
    </a>
    {% else %}
    <a class="navbar-brand product-brand" href="{{ '/' | relative_url }}">
      <svg width="200" height="45">
        <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive.svg?123#maptilerLogo"></use>
      </svg>
    </a>
    {% endif %}

    {% capture collapse-arrow %}
    <span class="float-end collapse-arrow">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <use href="/styles/style/icon/icon.svg#keyboard_arrow_down"></use>
      </svg>
    </span>
    {% endcapture %}

    <div class="collapse navbar-collapse navbar-mobile justify-content-end" id="Mobilenav">
      <div class="navbar-nav">
        <div class="d-none d-lg-flex">
          <div class="dropdown">
            <a class="nav-item nav-link" type="button" id="dropdownProductsLink" data-bs-toggle="dropdown" aria-expanded="false">
              Products {{ collapse-arrow }}
            </a>
            <div class="dropdown-menu dropdown-menu-navbar p-3 dropdown-menu-navbar-animation slideIn" aria-labelledby="dropdownProductsLink">
              <div class="d-flex">
                <div class="dropdown-products dropdown-cloud d-flex flex-column flex-xl-row">
                  <div class="pe-2">
                    <h6 class="m-0 text-uppercase small ps-o5 text-cloud pb-1">MapTiler Cloud</h6>
                    <a class="dropdown-link" href="{{ include.link_url }}/cloud/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/maps-platform.svg#maps-platform"></use>
                      </svg>
                      Maps Platform</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/cloud/geodata-hosting/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/geodata-hosting.svg#geodata-hosting"></use>
                      </svg>
                      GeoData Hosting</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/weather/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/weather-visualization.svg#weather-visualization"></use>
                      </svg>
                      Weather Visualization</a>
                      <a class="dropdown-link" href="{{ include.link_url }}/cloud/static-maps/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                          <use href="/styles/style/icon/extra/navbar-products/maps-static.svg#static-maps"></use>
                        </svg>
                        Static maps API</a>
                  </div>
                  <div class="ps-0 ps-xl-2 pe-2">
                    <h6 class="m-0 text-uppercase small text-white user-select-none d-none d-xl-block pb-1">MapTiler</h6>
                    <a class="dropdown-link" href="{{ include.link_url }}/cloud/customize/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/map-design-tool.svg#map-design-tool"></use>
                      </svg>
                      Map Design Tool</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/cloud/geocoding/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/search.svg#search"></use>
                      </svg>
                      Search & Geocoding</a>
                      <a class="dropdown-link" href="{{ include.link_url }}/cloud/geoip/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                          <use href="/styles/style/icon/extra/navbar-products/geolocation.svg#geolocation"></use>
                        </svg>
                        IP Geolocation API</a>
                      <a class="dropdown-link" href="{{ include.link_url }}/sdk-javascript/">
                        <svg width="50" height="17" viewBox="0 0 50 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <use href="/styles/style/icon/extra/navbar-products/sdk.svg#sdk"></use>
                        </svg>
                        MapTiler SDK JS</a>
                  </div>
                </div>
                <div class="dropdown-products dropdown-data px-2 border-start border-light">
                  <h6 class="m-0 text-uppercase small ps-o5 text-data pb-1">server & data</h6>
                  <a class="dropdown-link" href="{{ include.link_url }}/data/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/self-hosted-maps.svg#self-hosted-maps"></use>
                    </svg>
                    Self-hosted Maps</a>
                  <a class="dropdown-link" href="{{ include.link_url }}/server/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/map-server.svg#map-server"></use>
                    </svg>
                    Map Server</a>
                </div>
                <div class="dropdown-products dropdown-desktop ps-2 border-start border-light">
                  <h6 class="m-0 text-uppercase small ps-o5 text-desktop pb-1">Engine & Desktop</h6>
                  <a class="dropdown-link" href="{{ include.link_url }}/engine/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/geodata-processing.svg#geodata-processing"></use>
                    </svg>
                    GeoData Processing</a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <a class="nav-item nav-link" type="button" id="dropdownCompanyLink" data-bs-toggle="dropdown" aria-expanded="false">
              Company {{ collapse-arrow }}
            </a>
            <div class="dropdown-menu dropdown-menu-navbar navbar-links dropdown-menu-navbar-animation slideIn" aria-labelledby="dropdownCompanyLink">
              <a class="dropdown-link" href="{{ include.link_url }}/news/">News</a>
              <a class="dropdown-link" href="{{ include.link_url }}/jobs/">Careers</a>
              <a class="dropdown-link" href="{{ include.link_url }}/company/">About Us</a>
              <a class="dropdown-link" href="{{ include.link_url }}/open-source/">Open-source</a>
              <a class="dropdown-link" href="{{ include.link_url }}/contact/">Contact</a>
            </div>
          </div>
          {% if page.style contains 'data' %}
          <a class="nav-item nav-link" href="/data/pricing/">Pricing</a>
          {% elsif page.style contains 'server' %}
          <a class="nav-item nav-link" href="/data/pricing/">Pricing</a>
          {% elsif page.style contains 'engine' %}
          <a class="nav-item nav-link" href="/engine/pricing/">Pricing</a>
          {% else %}
          <a class="nav-item nav-link" href="{{ include.link_url }}/cloud/pricing/">Pricing</a>
          {% endif %}
          <div class="dropdown">
            <a class="nav-item nav-link" type="button" id="dropdownResourcesLink" data-bs-toggle="dropdown" aria-expanded="false">
              Resources {{ collapse-arrow }}
            </a>
            <div class="dropdown-menu dropdown-menu-navbar navbar-links dropdown-menu-navbar-animation slideIn" aria-labelledby="dropdownResourcesLink">
              <a class="dropdown-link" href="https://documentation.maptiler.com/hc/en-us">Documentation Portal</a>
              <a class="dropdown-link" href="https://docs.maptiler.com/sdk-js/">JavaScript SDK</a>
              <a class="dropdown-link" href="https://docs.maptiler.com/maplibre-gl-native-android">Android SDK</a>
              <a class="dropdown-link" href="https://docs.maptiler.com/maplibre-gl-native-ios">iOS SDK</a>
              <a class="dropdown-link" href="https://docs.maptiler.com/api-clients/">API Client Library + CLI</a>
              <a class="dropdown-link" href="https://docs.maptiler.com/cloud/api/">API Reference</a>
              <a class="dropdown-link" href="https://docs.maptiler.com/schema/">Tileset Schemas</a>
              <a class="dropdown-link" href="https://www.youtube.com/channel/UCubcQeWuBKvqpMu172CLEXw">YouTube Channel</a>
              <a class="dropdown-link" href="https://documentation.maptiler.com/hc/en-us/requests/new">Support</a>
            </div>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-between d-lg-none navbar-mobile-dropdown align-items-center">
          <a class="navbar-brand product-brand text-secondary" href="{{ '/' | relative_url }}">
            <svg width="160" height="45">
              <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive.svg?123#maptilerLogo"></use>
            </svg>
          </a>
          <div class="">
            <a class="btn btn-primary btn-sm me-o5" href="{{ site.cloud.url }}">My Account</a>
            <button onclick="changeThemeColor()" class="navbar-toggler text-secondary align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                <use href="{{ include.styles_path }}icon/icon.svg#clear"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="col-12 d-lg-none border-top border-light">

          <div class="accordion px-gutter py-2" id="accordionExample">
              <a role="button" type="button" data-bs-toggle="collapse" class="py-2 mx-2 h6 d-block my-0 link-secondary"
               data-bs-target="#accordionMobileProducts" aria-expanded="false" aria-controls="accordionMobileProducts">
                Products<span class="d-inline-block collapse-arrow"> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="/styles/style/icon/icon.svg#keyboard_arrow_down"></use></svg></span>
              </a>
              <div id="accordionMobileProducts" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="dropdown-products dropdown-cloud pb-2">
                      <h6 class="m-0 text-uppercase small ps-o5 text-cloud pb-1">MapTiler Cloud</h6>
                      <a class="dropdown-link" href="{{ include.link_url }}/cloud/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                          <use href="/styles/style/icon/extra/navbar-products/maps-platform.svg#maps-platform"></use>
                        </svg>
                        Maps Platform</a>
                      <a class="dropdown-link" href="{{ include.link_url }}/cloud/geodata-hosting/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                          <use href="/styles/style/icon/extra/navbar-products/geodata-hosting.svg#geodata-hosting"></use>
                        </svg>
                        GeoData Hosting</a>
                      <a class="dropdown-link" href="{{ include.link_url }}/weather/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                          <use href="/styles/style/icon/extra/navbar-products/weather-visualization.svg#weather-visualization"></use>
                        </svg>
                        Weather Visualization</a>
                      <h6 class="m-0 text-uppercase text-white user-select-none d-none d-xl-block pb-1">MapTiler</h6>
                      <a class="dropdown-link" href="{{ include.link_url }}/cloud/customize/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                          <use href="/styles/style/icon/extra/navbar-products/map-design-tool.svg#map-design-tool"></use>
                        </svg>
                        Map Design Tool</a>
                      <a class="dropdown-link" href="{{ include.link_url }}/cloud/geocoding/">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                          <use href="/styles/style/icon/extra/navbar-products/search.svg#search"></use>
                        </svg>
                        Search & Geocoding</a>
                        <a class="dropdown-link" href="{{ include.link_url }}/cloud/geoip/">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <use href="/styles/style/icon/extra/navbar-products/geolocation.svg#geolocation"></use>
                          </svg>
                          IP Geolocation API</a>
                        <a class="dropdown-link" href="{{ include.link_url }}/cloud/static-maps/">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <use href="/styles/style/icon/extra/navbar-products/maps-static.svg#static-maps"></use>
                          </svg>
                          Static maps API</a>
                          <a class="dropdown-link" href="{{ include.link_url }}/sdk-javascript/">
                            <svg width="50" height="17" viewBox="0 0 50 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <use href="/styles/style/icon/extra/navbar-products/sdk.svg#sdk"></use>
                            </svg>
                            MapTiler SDK JS</a>
                  </div>
                  <div class="dropdown-products dropdown-data py-2 border-top border-light">
                    <h6 class="m-0 text-uppercase small ps-o5 text-data pb-1">server & data</h6>
                    <a class="dropdown-link" href="{{ include.link_url }}/data/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/self-hosted-maps.svg#self-hosted-maps"></use>
                      </svg>
                      Self-hosted Maps</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/server/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/map-server.svg#map-server"></use>
                      </svg>
                      Map Server</a>
                  </div>
                  <div class="dropdown-products dropdown-desktop pt-2 border-top border-light">
                    <h6 class="m-0 text-uppercase small ps-o5 text-desktop pb-1">Engine & Desktop</h6>
                    <a class="dropdown-link" href="{{ include.link_url }}/engine/">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <use href="/styles/style/icon/extra/navbar-products/geodata-processing.svg#geodata-processing"></use>
                      </svg>
                      GeoData Processing</a>
                  </div>
                </div>
              </div>
              <a role="button" type="button" data-bs-toggle="collapse" class="py-2 mx-2 h6 d-block my-0 border-top border-light link-secondary"
               data-bs-target="#accordionMobileCompany" aria-expanded="false" aria-controls="accordionMobileCompany">
                Company<span class="d-inline-block collapse-arrow"> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="/styles/style/icon/icon.svg#keyboard_arrow_down"></use></svg></span>

              </a>
              <div id="accordionMobileCompany" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body navbar-links">
                    <a class="dropdown-link" href="{{ include.link_url }}/news/">News</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/jobs/">Careers</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/company/">About Us</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/open-source/">Open-source</a>
                    <a class="dropdown-link" href="{{ include.link_url }}/contact/">Contact</a>
                </div>
              </div>

              <a role="button" type="button" class="py-2 mx-2 h6 d-block my-0 border-top border-light link-secondary"
              {% if page.style contains 'data' %}href="/data/pricing/"{% elsif page.style contains 'server' %}href="/data/pricing/"
              {% elsif page.style contains 'engine' %}href="/engine/pricing/"{% else %}href="{{ include.link_url }}/cloud/pricing/"{% endif %}>
                Pricing
              </a>

              <a role="button" type="button" data-bs-toggle="collapse" class="py-2 mx-2 h6 d-block my-0 border-top border-light link-secondary"
               data-bs-target="#accordionMobileResources" aria-expanded="false" aria-controls="accordionMobileResources">
                Resources<span class="d-inline-block collapse-arrow"> <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="/styles/style/icon/icon.svg#keyboard_arrow_down"></use></svg></span>
              </a>
              <div id="accordionMobileResources" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body navbar-links">
                  <a class="dropdown-link" href="https://documentation.maptiler.com/hc/en-us">Documentation Portal</a>
                  <a class="dropdown-link" href="https://docs.maptiler.com/sdk-js/">JavaScript SDK</a>
                  <a class="dropdown-link" href="https://docs.maptiler.com/maplibre-gl-native-android">Android SDK</a>
                  <a class="dropdown-link" href="https://docs.maptiler.com/maplibre-gl-native-ios">iOS SDK</a>
                  <a class="dropdown-link" href="https://docs.maptiler.com/api-clients/">API Client Library + CLI</a>
                  <a class="dropdown-link" href="https://docs.maptiler.com/cloud/api/">API Reference</a>
                  <a class="dropdown-link" href="https://docs.maptiler.com/schema/">Tileset Schemas</a>
                  <a class="dropdown-link" href="https://www.youtube.com/channel/UCubcQeWuBKvqpMu172CLEXw">YouTube Channel</a>
                  <a class="dropdown-link" href="https://documentation.maptiler.com/hc/en-us/requests/new">Support</a>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="d-flex ms-lg-3 align-items-center">
      {% if page.style contains 'data' or page.style contains 'server' %}
      <a class="btn btn-primary d-none d-lg-block ml-3" href="https://data.maptiler.com/my-extracts/">My Data</a>
      {% else %}
      <a class="btn btn-primary d-none d-lg-block ml-3" href="{{ site.cloud.url }}">My Cloud</a>
      {% endif %}
      <button onclick="changeThemeColor()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
          <use href="{{ include.styles_path }}icon/icon.svg#menu"></use>
        </svg>
      </button>
    </div>
  </nav>
</div>
