  <nav id="Navbar" class="navbar navbar-expand-md px-gutter w-100 navbar-dark">
    <div class="container pr-gutter">
        <a class="navbar-brand product-brand text-darker ml-gutter" href="{{ '/' | relative_url }}">
          <svg height="46"><use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-small.svg#maptilerLogo"></use></svg>
        </a>

      <button onclick="changeThemeColor()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
          <use href="{{ include.styles_path }}icon/icon.svg#menu"></use>
        </svg>
      </button>

      <div class="collapse navbar-collapse navbar-mobile justify-content-end font-weight-bold" id="Mobilenav">
        <div class="navbar-nav flex-sm-row text-dark">
          <div class="d-none d-md-flex">
            <a tabindex="0"  id="subnav-products-btn" class="nav-item nav-link mx-1rem d-none d-md-block">Products</a>
            <div tabindex="1" class="subnav-products  text-left" >
                <div>
                  <a class="cloud" href="{{ include.link_url }}/cloud/">
                    <h4 class="text-cloud">Cloud</h4>
                    Map hosting service
                  </a>
                  <a class="desktop" href="{{ include.link_url }}/desktop/">
                    <h4 class="text-desktop">Desktop</h4>
                    Create zoomable maps
                  </a>
                  <a class="engine" href="{{ include.link_url }}/engine/">
                    <h4 class="text-engine">Engine</h4>
                    Fast automated map processing
                  </a>
                </div>
                <div>
                  <a class="data" href="{{ include.link_url }}/data/">
                    <h4 class="text-data">Data</h4>
                    Global geodata for self-hosting
                  </a>
                  <a class="server" href="{{ include.link_url }}/server/">
                    <h4 class="text-server">Server</h4>
                    Map server for self-hosting
                  </a>
                  <a class="mobile" href="{{ include.link_url }}/mobile/">
                    <h4 class="text-mobile">Mobile</h4>
                    Phone &amp; tablet mapping app
                  </a>
                </div>
            </div>
            <a class="nav-item nav-link mx-md-1rem" href="{{ include.link_url }}/support/">Support</a>
            <a class="nav-item nav-link mx-md-1rem" href="{{ include.link_url }}/news/">News</a>
          </div>

          <div class="subnav-products-mobile d-md-none">
            <div class="col-12 d-flex justify-content-between px-0 mb-1 border-bottom border-light">
                <a class="navbar-brand product-brand text-darker" href="{{ '/' | relative_url }}">
                  <svg height="46"><use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-small.svg#maptilerLogo"></use></svg>
                </a>
              <button onclick="changeThemeColor()" class="navbar-toggler text-darker align-self-center" type="button" data-toggle="collapse" data-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                  <use href="{{ include.styles_path }}icon/icon.svg#clear"></use>
                </svg>
              </button>
            </div>
            <div class="col-6 products">
              <a class="nav-item nav-link cloud" href="{{ include.link_url }}/cloud/">
                Cloud
              </a>
              <a class="nav-item nav-link data" href="{{ include.link_url }}/data/">
                Data
              </a>
              <a class="nav-item nav-link server" href="{{ include.link_url }}/server/">
                Server
              </a>
              <a class="nav-item nav-link desktop" href="{{ include.link_url }}/desktop/">
                Desktop
              </a>
              <a class="nav-item nav-link engine" href="{{ include.link_url }}/engine/">
                Engine
              </a>
              <a class="nav-item nav-link mobile" href="{{ include.link_url }}/mobile/">
                Mobile
              </a>
            </div>

            <div class="col-6 text-right">
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/news/">
                 News
               </a>
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/support/">
                Support
              </a>
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/team/">
                Team
              </a>
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/press/">
                Press
              </a>
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/jobs/">
                Jobs
              </a>
            </div>
            <div class="col-12 text-center border-top border-light">
              <a class="btn btn-primary w-90 my-3" href="{{ site.cloud.url-sign }}">My Cloud</a>
            </div>
          </div>

        </div>
      </div>

      <a class="btn btn-primary d-none d-md-block ml-3" href="{{ site.cloud.url-sign }}">My Cloud</a>
    </div>
  </nav>
