<div class="border-bottom border-light bg-white sticky-top {% if page.header != 'small' %}py-1{% endif %}">
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">

  {% if page.style contains 'desktop' or page.style contains 'cloud'
        or page.style contains 'mobile' or page.style contains 'cluster'
        or page.style contains 'engine' or page.style contains 'server'
        or page.style contains 'data' %}
  <a class="navbar-brand product-brand adaptive-brand" href="{{ '/' | relative_url }}">
  <svg width="265" height="41">
    <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-{{ page.style | replace: " svg","" }}.svg#{{ page.style | replace: " svg","" }}"></use>
  </svg>
  </a>
  {% elsif page.style contains 'basemaps' %}
  <a class="navbar-brand pl-gutter product-brand {% if page.style contains 'satellite' %}adaptive-brand{% endif %}" href="{{ '/' | relative_url }}">
  <svg width="250" height="41">
    <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-data.svg#data"></use>
  </svg>
  </a>
  {% else %}
  <a class="navbar-brand product-brand" href="{{ '/' | relative_url }}">
  <svg width="200" height="45">
    <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive.svg#maptilerLogo"></use>
  </svg>
  </a>
  {% endif %}

  {% capture collapse-arrow %}
  <span class="float-end collapse-arrow">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <use href="/styles/style/icon/icon.svg#keyboard_arrow_down"></use>
    </svg>
  </span>
  {% endcapture %}

  <div class="collapse navbar-collapse navbar-mobile justify-content-end" id="Mobilenav">
    <div class="navbar-nav">
      <div class="d-none d-lg-flex" >
        <div class="dropdown">
          <a class="nav-item nav-link" type="button" id="dropdownProductsLink" data-bs-toggle="dropdown" aria-expanded="false">
            Products {{ collapse-arrow }}
          </a>
          <div class="dropdown-menu dropdown-menu-navbar p-3 dropdown-menu-navbar-animation slideIn"  aria-labelledby="dropdownProductsLink">
            <div class="d-flex">
              <div class="dropdown-products dropdown-cloud d-flex flex-column flex-xl-row">
                <div class="pe-2">
                  <h6 class="m-0 text-uppercase small ps-o5 text-cloud pb-1">MapTiler Cloud</h6>
                  <a class="dropdown-link" href="{{ include.link_url }}/cloud/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/maps-platform.svg#maps-platform"></use>
                    </svg>
                    Maps Platform</a>
                  <a class="dropdown-link" href="{{ include.link_url }}/cloud/geodata-hosting/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/geodata-hosting.svg#geodata-hosting"></use>
                    </svg>
                    GeoData Hosting</a>
                  <a class="dropdown-link" href="{{ include.link_url }}/weather/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/weather-visualization.svg#weather-visualization"></use>
                    </svg>
                    Weather Visualization</a>
                </div>
                <div class="ps-0 ps-xl-2 pe-2">
                  <h6 class="m-0 text-uppercase text-white user-select-none d-none d-xl-block pb-1">MapTiler</h6>
                  <a class="dropdown-link" href="{{ include.link_url }}/cloud/customize/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/map-design-tool.svg#map-design-tool"></use>
                    </svg>
                    Map Design Tool</a>
                  <a class="dropdown-link" href="{{ include.link_url }}/cloud/geocoding/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                      <use href="/styles/style/icon/extra/navbar-products/search.svg#search"></use>
                    </svg>
                    Search & Geocoding</a>
                </div>
              </div>
              <div class="dropdown-products dropdown-data px-2 border-start border-light">
                <h6 class="m-0 text-uppercase small ps-o5 text-data pb-1">server & data</h6>
                <a class="dropdown-link" href="{{ include.link_url }}/server/">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <use href="/styles/style/icon/extra/navbar-products/map-server.svg#map-server"></use>
                  </svg>
                  Map Server</a>
                <a class="dropdown-link" href="{{ include.link_url }}/data/">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <use href="/styles/style/icon/extra/navbar-products/self-hosted-maps.svg#self-hosted-maps"></use>
                  </svg>
                  Self-hosted Maps</a>
              </div>
              <div class="dropdown-products dropdown-desktop ps-2 border-start border-light">
                <h6 class="m-0 text-uppercase small ps-o5 text-desktop pb-1">Engine & Desktop</h6>
                <a class="dropdown-link" href="{{ include.link_url }}/desktop/">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <use href="/styles/style/icon/extra/navbar-products/geodata-processing.svg#geodata-processing"></use>
                  </svg>
                  GeoData Processing</a>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a class="nav-item nav-link" type="button" id="dropdownCompanyLink" data-bs-toggle="dropdown" aria-expanded="false">
            Company {{ collapse-arrow }}
          </a>
          <div class="dropdown-menu dropdown-menu-navbar dropdown-menu-navbar-animation slideIn"  aria-labelledby="dropdownCompanyLink">
            <a class="dropdown-link" href="{{ include.link_url }}/news/">News</a>
            <a class="dropdown-link" href="{{ include.link_url }}/jobs/">Careers</a>
            <a class="dropdown-link" href="{{ include.link_url }}/open-source/">Open-source</a>
            <a class="dropdown-link" href="{{ include.link_url }}/team/">Team</a>
          </div>
        </div>
        {% if page.style contains 'data' %}
          <a class="nav-item nav-link" href="/data/package/">Pricing</a>
        {% elsif page.style contains 'server' %}
        <a class="nav-item nav-link" href="/server/pricing/">Pricing</a>
        {% elsif page.style contains 'desktop' %}
        <a class="nav-item nav-link" href="/pricing/">Pricing</a>
        {% else %}
          <a class="nav-item nav-link" href="/cloud/pricing/">Pricing</a>
        {% endif %}
        <div class="dropdown">
          <a class="nav-item nav-link" type="button" id="dropdownResourcesLink" data-bs-toggle="dropdown" aria-expanded="false">
            Resources {{ collapse-arrow }}
          </a>
          <div class="dropdown-menu dropdown-menu-navbar dropdown-menu-navbar-animation slideIn"  aria-labelledby="dropdownResourcesLink">
            <a class="dropdown-link" href="https://documentation.maptiler.com/hc/en-us">Documentation Portal</a>
            <a class="dropdown-link" href="https://docs.maptiler.com/cloud/api/">API Reference</a>
            <a class="dropdown-link" href="https://docs.maptiler.com/maplibre-gl-js/get-started/">JavaScript Maps API</a>
            <a class="dropdown-link" href="https://docs.maptiler.com/maplibre-gl-native-android">Android SDK</a>
            <a class="dropdown-link" href="https://docs.maptiler.com/maplibre-gl-native-ios">iOS SDK</a>
            <a class="dropdown-link" href="https://documentation.maptiler.com/hc/en-us#:~:text=Datasets">Tileset Schemas</a>
            <a class="dropdown-link" href="https://www.youtube.com/channel/UCubcQeWuBKvqpMu172CLEXw">YouTube Channel</a>
            <a class="dropdown-link" href="https://documentation.maptiler.com/hc/en-us/requests/new">Support</a>
          </div>
        </div>
      </div>
      <div class="subnav-products-mobile d-lg-none">
        <div class="col-12 d-flex justify-content-between px-0 mb-1 border-bottom border-light">
            <a class="navbar-brand product-brand text-secondary" href="{{ '/' | relative_url }}">
            <svg width="200" height="45">
              <use href="{{ include.styles_path }}logo/maptiler-logo-adaptive.svg#maptilerLogo"></use>
            </svg>
            </a>
          <button onclick="changeThemeColor()" class="navbar-toggler text-secondary align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
              <use href="{{ include.styles_path }}icon/icon.svg#clear"></use>
            </svg>
          </button>
        </div>
        <div class="col-6 products">
          <a class="nav-item nav-link cloud" href="{{ include.link_url }}/cloud/">
            Cloud
          </a>
          <a class="nav-item nav-link data" href="{{ include.link_url }}/data/">
            Data
          </a>
          <a class="nav-item nav-link server" href="{{ include.link_url }}/server/">
            Server
          </a>
          <a class="nav-item nav-link desktop" href="{{ include.link_url }}/desktop/">
            Desktop
          </a>
          <a class="nav-item nav-link engine" href="{{ include.link_url }}/engine/">
            Engine
          </a>
          <a class="nav-item nav-link mobile" href="{{ include.link_url }}/mobile/">
            Mobile
          </a>
        </div>

        <div class="col-6 text-end">
          <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/news/">
             News
           </a>
          <a class="d-block nav-item nav-link text-dark" href="https://documentation.maptiler.com/">
            Docs
          </a>
          <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/team/">
            Team
          </a>
          <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/press/">
            Press
          </a>
          <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/jobs/">
            Jobs
          </a>
        </div>
        <div class="col-12 border-top border-light">
          <a role="button" data-bs-toggle="collapse" href="#SolutionsBlock" data-bs-target="#SolutionsBlock" aria-expanded="false" aria-controls="SolutionsBlock">
            <h6 class="ms-1">Solutions <svg class="collapse-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="{{ include.styles_path }}icon/icon.svg#keyboard_arrow_down"></use></svg></h6>
          </a>
          <div class="collapse" id="SolutionsBlock">
            <div class="subnav-solutions">
            <div class="py-2 pt-1">
              <span class="d-block ms-1 mt-0 mb-1 fw-bold font-family-ubuntu body-size text-gray">By use-case</span>
              <a class="solution-link" href="{{ include.link_url }}/cloud/">Maps API</a>
              <a class="solution-link" href="{{ include.link_url }}/cloud/geocoding/">Geocoding </a>
              <a class="solution-link" href="{{ include.link_url }}/cloud/customize/">Map customize tool</a>
              <a class="solution-link" href="{{ include.link_url }}/desktop/">Data processing</a>
              <a class="solution-link" href="{{ include.link_url }}/weather/">Weather animation</a>
              <a class="solution-link" href="{{ include.link_url }}/data/">Map self-hosting</a>
            </div>
            <div class="py-2 border-top border-light">
              <span class="d-block ms-1 mt-0 mb-1 fw-bold font-family-ubuntu body-size">By industry</span>
              <a class="solution-link" href="{{ include.link_url }}/industry/transportation/">Transportation </a>
              <a class="solution-link" href="{{ include.link_url }}/industry/weather/">Weather </a>
              <a class="solution-link" href="{{ include.link_url }}/industry/business-intelligence/">Business Intelligence</a>
              <a class="solution-link" href="{{ include.link_url }}/industry/aviation/">Aviation</a>
              <a class="solution-link" href="{{ include.link_url }}/industry/news-media/">News & Media</a>
              <a class="solution-link" href="{{ include.link_url }}/industry/government/">Government </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center border-top border-light">
          <a class="btn btn-primary w-90 my-3" href="{{ site.cloud.url-sign }}">My Cloud</a>
        </div>
      </div>
    </div>
  </div>

<div class="d-flex ms-lg-3 align-items-center">
  {% if page.style contains 'data' %}
  <a class="btn btn-primary d-none d-lg-block ml-3" href="https://data.maptiler.com/my-extracts/">My Data</a>
  {% else %}
  <a class="btn btn-primary d-none d-lg-block ml-3" href="{{ site.cloud.url-sign }}">My Cloud</a>
  {% endif %}
  <button onclick="changeThemeColor()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
  data-bs-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
      <use href="{{ include.styles_path }}icon/icon.svg#menu"></use>
    </svg>
  </button>
</div>
</nav>
</div>
