  <nav id="navbar" class="navbar navbar-small navbar-dark navbar-expand-lg">
    <div class="container px-gutter">
        <a class="navbar-brand product-brand" href="{{ '/' | relative_url }}">
          <svg height="46"><use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-small.svg#maptilerLogo"></use></svg>
        </a>

      <div class="collapse navbar-collapse navbar-mobile justify-content-end fw-bolder" id="Mobilenav">
        <div class="navbar-nav flex-lg-row text-dark">
          <div class="d-none d-lg-flex">
            <div class="position-relative">
            <a tabindex="1" id="subnav-products-btn"
            class="nav-item nav-link mx-gutter px-0 d-none d-lg-block">Products</a>
            <div tabindex="1" class="subnav subnav-products text-left">
                <div>
                  <a class="cloud" href="{{ include.link_url }}/cloud/">
                    <h6 class="product-title text-cloud">Cloud</h6>
                    Map hosting service
                  </a>
                  <a class="desktop" href="{{ include.link_url }}/desktop/">
                    <h6 class="product-title text-desktop">Desktop</h6>
                    Create zoomable maps
                  </a>
                  <a class="engine" href="{{ include.link_url }}/engine/">
                    <h6 class="product-title text-engine">Engine</h6>
                    Fast automated map processing
                  </a>
                </div>
                <div>
                  <a class="data" href="{{ include.link_url }}/data/">
                    <h6 class="product-title text-data">Data</h6>
                    Global geodata for self-hosting
                  </a>
                  <a class="server" href="{{ include.link_url }}/server/">
                    <h6 class="product-title text-server">Server</h6>
                    Map server for self-hosting
                  </a>
                  <a class="mobile" href="{{ include.link_url }}/mobile/">
                    <h6 class="product-title text-mobile">Mobile</h6>
                    Phone &amp; tablet mapping app
                  </a>
                </div>
            </div>
          </div>
          <div class="position-relative">
            <a tabindex="1" id="subnav-solutions-btn"
            class="nav-item nav-link mx-gutter px-0 d-none d-lg-block">Solutions</a>
                  <div class="subnav subnav-solutions">
                  <div class="pe-3">
                    <span class="d-block ms-1 mt-0 mb-1 fw-bold font-family-ubuntu body-size text-gray">By use-case</span>
                    <a class="solution-link" href="{{ include.link_url }}/cloud/">Maps API</a>
                    <a class="solution-link" href="{{ include.link_url }}/cloud/geocoding/">Geocoding </a>
                    <a class="solution-link" href="{{ include.link_url }}/cloud/customize/">Map customize tool</a>
                    <a class="solution-link" href="{{ include.link_url }}/desktop/">Data processing</a>
                    <a class="solution-link" href="{{ include.link_url }}/cloud/geodata-hosting/">Geodata hosting</a>
                    <a class="solution-link" href="{{ include.link_url }}/data/">Map self-hosting</a>
                  </div>
                  <div class="mx-gutter">
                    <span class="d-block ms-1 mt-0 mb-1 fw-bold font-family-ubuntu body-size">By industry</span>
                    <a class="solution-link" href="{{ include.link_url }}/industry/transportation/">Transportation </a>
                    <a class="solution-link" href="{{ include.link_url }}/industry/weather/">Weather </a>
                    <a class="solution-link" href="{{ include.link_url }}/industry/business-intelligence/">Business Intelligence</a>
                    <a class="solution-link" href="{{ include.link_url }}/industry/news-media/">News & Media</a>
                    <a class="solution-link" href="{{ include.link_url }}/industry/government/">Government </a>
                  </div>
            </div>
          </div>

            <a class="nav-item nav-link mx-lg-gutter px-0" href="https://documentation.maptiler.com/hc/en-us">Docs</a>
            <a class="nav-item nav-link mx-lg-gutter px-0 {% if page.url contains 'news' %}active{% endif %}" href="{{ include.link_url }}/news/">News</a>
          </div>

          <div class="subnav-products-mobile d-lg-none">
            <div class="col-12 d-flex justify-content-between px-0 mb-1 border-bottom border-light">
                <a class="navbar-brand product-brand text-secondary" href="{{ '/' | relative_url }}">
                  <svg height="46"><use href="{{ include.styles_path }}logo/maptiler-logo-adaptive-small.svg#maptilerLogo"></use></svg>
                </a>
              <button onclick="changeThemeColor()" class="navbar-toggler text-secondary align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                  <use href="{{ include.styles_path }}icon/icon.svg#clear"></use>
                </svg>
              </button>
            </div>
            <div class="col-6 products">
              <a class="nav-item nav-link cloud" href="{{ include.link_url }}/cloud/">
                Cloud
              </a>
              <a class="nav-item nav-link data" href="{{ include.link_url }}/data/">
                Data
              </a>
              <a class="nav-item nav-link server" href="{{ include.link_url }}/server/">
                Server
              </a>
              <a class="nav-item nav-link desktop" href="{{ include.link_url }}/desktop/">
                Desktop
              </a>
              <a class="nav-item nav-link engine" href="{{ include.link_url }}/engine/">
                Engine
              </a>
              <a class="nav-item nav-link mobile" href="{{ include.link_url }}/mobile/">
                Mobile
              </a>
            </div>

            <div class="col-6 text-end">
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/news/">
                News
               </a>
              <a class="d-block nav-item nav-link text-dark" href="https://documentation.maptiler.com/hc/en-us">
                Docs
              </a>
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/team/">
                Team
              </a>
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/press/">
                Press
              </a>
              <a class="d-block nav-item nav-link text-dark" href="{{ include.link_url }}/jobs/">
                Jobs
              </a>
            </div>
            <div class="col-12 border-top border-light">
              <a role="button" data-bs-toggle="collapse" href="#SolutionsBlock" data-bs-target="#SolutionsBlock" aria-expanded="false" aria-controls="SolutionsBlock">
                <h6 class="ms-1">Solutions <svg class="collapse-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><use href="{{ include.styles_path }}icon/icon.svg#keyboard_arrow_down"></use></svg></h6>
              </a>
              <div class="collapse" id="SolutionsBlock">
                <div class="subnav-solutions">
                <div class="py-2 pt-1">
                  <span class="d-block ms-1 mt-0 mb-1 fw-bold font-family-ubuntu body-size text-gray">By use-case</span>
                  <a class="solution-link" href="{{ include.link_url }}/cloud/">Maps API</a>
                  <a class="solution-link" href="{{ include.link_url }}/cloud/geocoding/">Geocoding </a>
                  <a class="solution-link" href="{{ include.link_url }}/cloud/customize/">Map customize tool</a>
                  <a class="solution-link" href="{{ include.link_url }}/desktop/">Data processing</a>
                  <a class="solution-link" href="{{ include.link_url }}/cloud/geodata-hosting/">Geodata hosting</a>
                  <a class="solution-link" href="{{ include.link_url }}/data/">Map self-hosting</a>
                </div>
                <div class="py-2 border-top border-light">
                  <span class="d-block ms-1 mt-0 mb-1 fw-bold font-family-ubuntu body-size">By industry</span>
                  <a class="solution-link" href="{{ include.link_url }}/industry/transportation/">Transportation </a>
                  <a class="solution-link" href="{{ include.link_url }}/industry/weather/">Weather </a>
                  <a class="solution-link" href="{{ include.link_url }}/industry/business-intelligence/">Business Intelligence</a>
                  <a class="solution-link" href="{{ include.link_url }}/industry/news-media/">News & Media</a>
                  <a class="solution-link" href="{{ include.link_url }}/industry/government/">Government </a>

                </div>
                </div>
              </div>
            </div>
            <div class="col-12 text-center border-top border-light">
              <a class="btn btn-primary w-90 my-3" href="{{ site.cloud.url-sign }}">My Cloud</a>
            </div>
          </div>

        </div>
      </div>

      <div class="d-flex align-items-center">
        <a class="btn btn-primary d-none d-lg-block ml-3" href="{{ site.cloud.url-sign }}">My Cloud</a>
        <button onclick="changeThemeColor()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Mobilenav" aria-controls="Mobilenav" aria-expanded="false" aria-label="Toggle navigation">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
            <use href="{{ include.styles_path }}icon/icon.svg#menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </nav>
