<a type="button" data-title="{{ include.title }}" class="video-player" data-bs-toggle="modal" data-bs-target="#{{ include.video }}Modal">
  <img loading="lazy" class="w-100 h-auto"
    src="https://img.youtube.com/vi/{{ include.video }}/{% if include.thumbnail == 'hq' %}hqdefault{% elsif include.thumbnail == 'mq' %}mqdefault{% elsif include.thumbnail == 'sd' %}sddefault{% else %}maxresdefault{% endif %}.jpg"
    alt="Video thumbnail">
</a>

<div class="modal fade" id="{{ include.video }}Modal" tabindex="-1" onclick="player{{ include.video }}();"
aria-labelledby="{{ include.video }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <lite-youtube class=" rounded"
          id="{{ include.video }}Frame"
          videoid="{{ include.video }}"
          videotitle="{{ include.title }}"
          autoload="true"
          params="enablejsapi=1"
        ></lite-youtube>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function player{{ include.video }}() {
  var iframe = document.getElementById('{{ include.video }}Frame');
  var innerFrame = iframe.shadowRoot.getElementById("frame").querySelector("iframe");
  innerFrame.contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*');
}
</script>
